/**
    * WordPress Xidipity Theme
    * Editor specific css classes
    *
    * ###:  editor.css
    * bld:  24200531
    * src:  github.com/WpThemeDev/xidipity/
    * (C)   2019-2020 John Baer
    *
*/

/*
***
    * element: <body>
    * dsc: body
    * ver: 200520
    * fnt: html body (see common.css, web.css for other property values)
    * ref: developer.mozilla.org/en-US/docs/Web/API/Body
***
*/
.mce-content-body {
    background-color: var(--hue-wht);
    color: var(--hue-bas-dn4);
    margin: 1rem;
    -webkit-font-smoothing: antialiased !important;
}

body.webkit strong,
body.webkit b {
    font-weight: bolder !important;
}

/*
***
    property: mce
    * dsc: editor specific formatting
    * ver: 190926-1
    * fnt: apply mce formatting
    * ref: developer.mozilla.org/en-US/docs/Web/CSS/display
***
*/
.mce\[dsp\:none\] {
    display: none;
}

.mce\[dsp\:hidden\] {
    visibility: hidden;
}

.mce\[dsp\:block\] {
    display: block;
}

.mce\[dsp\:inline\] {
    display: inline;
}

.mce\[dsp\:inline-block\] {
    display: inline-block;
}

img {
}

/*
***
    * element: pre:dot
    * dsc: mark pre
    * ver: 200315
    * fnt: add dot to pre in editor
    * ref: supports code_container template
***
*/
.mce\[pre\:dot\]::before {
    color: var(--hue-sec);
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-size: x-small;
    font-weight: 900;
    margin-left: -0.9375rem;
    margin-top: -1.125rem;
    position: absolute;
    z-index: 1;
}

/*
***
    * property: vs
    * dsc: vertical space
    * ver: 200222
    * fnt: set line height
    * ref: developer.mozilla.org/en-US/docs/Web/CSS/line-height
***
*/
.vs\:1\/2,
.vs\:3\/4,
.vs\:1-1\/2,
.vs\:2,
.vs\:2-1\/2,
.vs\:3 {
    background-color: var(--hue-bas-up4);
}

/*
***
    * element: <ul>
    * dsc: paragraph list
    * ver: 200531
    * fnt: use list for block indentation
    * ref: 
***
*/
ul.par,
ul.par ul,
ul.par ul ul,
ul.par ul ul ul,
ul.par ul ul ul ul,
ul.par ul ul ul ul ul {
    border-left: thin solid var(--hue-pri-tint-up1);
    margin-left: 1.25rem;
    padding-left: 0.5rem !important;
}

/*
***
    property: cols:<type>
    * dsc: multi-columns
    * ver: 190520
    * fnt: common multi-column classes
    * ref: see common.css
***
*/
.cols\:fixed-2 > tbody > tr > td:not(:last-child),
.cols\:fixed-3 > tbody > tr > td:not(:last-child),
.cols\:fixed-4 > tbody > tr > td:not(:last-child) {
    border-right: dashed 1px var(--hue-bas-up1) !important;
}

.cols\:fixed-2 > tbody > tr > td:not(:first-child),
.cols\:fixed-3 > tbody > tr > td:not(:first-child),
.cols\:fixed-4 > tbody > tr > td:not(:first-child) {
    border-left: dashed 1px var(--hue-bas-up1) !important;
}

/*
 * EOF: editor.css / 24200531
 */
