/*
 *
 *        file: blog-base.css
 *       build: 90323.1
 * description: Cascading Style Sheet
 *      github: https://github.com/WpThemeDev/xidipity
 *    comments: Only CSS classes which are unique to the web are here.
 *
 ***

-- Table Of Contents       ------------
--

## All Things Header
## Author Info
## Blog Featured Image
## Blog Page Banner
## Body
## CodeMirror
## Comments
## Entry Meta (author / date / category / etc.)
## Footer
## GIST
## Image attachment page
## Media Elements
## Navigation
## Screen reader / Admin panel
## Sidebar
## Simply Social Buttons Plugin (bugfix)
## Site Branding Logo
## Site Content Framework
## Site Title & Description
## Site Wrapper
## Smilies (https://codex.wordpress.org/Using_Smilies)
## Video
## Web Only
## Widgets

-- screen break points     ------------
--

default all / mobile
@media (min-width: 576px)   phone
@media (min-width: 768px)   md tablet     ie. Kindle Fire HD 7
@media (min-width: 992px)   lg tablet     ie. Kindle Fire
@media (min-width: 1200px)  xl desktop    ie. Google Pixel Chromebook / Kindle Fire HD 8.9
@media (min-width: 1440px)  xxl desktop   ie. Apple iMac

-- CSS Flexible            ------------
--

This theme uses the CSS Flexible Box Layout to provide a responsive experience.
This is generally supported by modern browsers. Exceptions and issues can be
viewed below.

https://caniuse.com/#feat=flexbox

-- */

/*  # WordPress
   ## Body
 ----------------------------------------------------------------------------*/

body {
    background-color: var(--sys-bg-color);
    color: var(--sys-font-color);
    font-family: var(--sys-font-family);
    font-size: var(--sys-font-size);
    font-weight: var(--sys-font-weight);
    line-height: var(--sys-line-height);
}
/*  # WordPress
   ## Screen reader / Admin panel
 ----------------------------------------------------------------------------*/

/* from wordpress          ----------------------------------------------------
-- */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
/* admin panel             ----------------------------------------------------
-- */

.site .skip-link {
    background-color: var(--bg-bas-100);
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #4527a0;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    left: -9999em;
    outline: none;
    padding: 15px 23px 14px;
    text-decoration: none;
    text-transform: none;
    top: -9999em;
}
.logged-in .site .skip-link {
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.site .skip-link:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: 999999;
}
/*  # WordPress
   ## Web Only
 ----------------------------------------------------------------------------*/

/* hide web specific item  ------------
-- */

.web\:hidden {
    display: none;
}
/* web spacers             ------------
-- */

.web\:spacer-1\/2 {
    height: 12px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
.web\:spacer-3\/4 {
    height: 24px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
.web\:spacer {
    height: 36px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
.web\:spacer-2x {
    height: 48px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
.web\:spacer-3x {
    height: 96px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}
/* excerpt                 ------------
-- */

.excerpt-template {
    display: none;
}
/* adsense hack            ------------
-- */

.adsbygoogle {
    background-color: transparent;
}
/*  # WordPress
   ## Author Info
 ----------------------------------------------------------------------------*/

.author-info {
    background: var(--bg-wht);
    border: solid var(--fg-bas-300);
    border-width: 0 1px 1px 0;
    color: var(--fg-bas-900);
    margin: 15px 0 0;
    padding: 30px;
    position: relative;
}
.author-info .author-avatar {
    margin: 0 0 15px;
    padding: 0;
}
.author-info .avatar {
    border: 1px solid var(--fg-bas-400);
    padding: 2px;
}
.author-info .author-description {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.4;
}
.author-info .author-description .author-title {
    margin: 0 0 20px;
    padding: 0;
}
/*  # WordPress
   ## Blog Featured Image
 ----------------------------------------------------------------------------*/

.post-thumbnail-wrapper {
    border-radius: .25rem;
    height: auto;
    width: 100%;
}
.post-thumbnail {
    height: 0;
    overflow: hidden;
    padding-top: calc(720 / 960 * 100%);
    background: black;
    position: relative;
}
.post-thumbnail-fmt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-thumbnail img {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.5s;
}
.post-thumbnail img:active,
.post-thumbnail img:focus,
.post-thumbnail img:hover {
    filter: alpha(opacity=75);
    opacity: 0.75;
}
@media (min-width: 768px) {
    .post-thumbnail-wrapper {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .post-thumbnail img {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .post-thumbnail img:active,
    .post-thumbnail img:focus,
    .post-thumbnail img:hover {
        filter: alpha(opacity=75);
        opacity: 0.75;
    }
}
@media (min-width: 992px) {
    .post-thumbnail-wrapper {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .post-thumbnail {
        background: white;
    }
    .post-thumbnail img {
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        opacity: 0.93;
        filter: alpha(opacity=93);
        transition: all 0.5s;
    }
    .post-thumbnail img:focus,
    .post-thumbnail img:hover {
        -moz-transform: scale(1.025);
        -webkit-transform: scale(1.025);
        filter: alpha(opacity=100);
        opacity: 1;
        transform: scale(1.025);
    }
}
/*  # WordPress
   ## Blog Page Banner
 ----------------------------------------------------------------------------*/

/* mobile media format     ------------
-- */

.blg-pg-featured-wrapper {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: var(--sys-pg-banner-featured-bg-color);
    color: var(--sys-pg-banner-featured-fg-color);
    display: var(--sys-pg-banner-featured-display);
    margin-bottom: 15px;
    padding: 21px;
    text-align: left;
    width: 100%;
}
.blg-pg-recent-wrapper {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: var(--sys-pg-banner-recent-bg-color);
    display: var(--sys-pg-banner-recent-display);
    margin-bottom: 15px;
    padding: 21px;
    text-align: left;
    width: 100%;
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {

    .blg-pg-recent-wrapper,
    .blg-pg-featured-wrapper {
        border-top: 1px solid var(--sys-pg-banner-tl-border-color);
        border-left: 1px solid var(--sys-pg-banner-tl-border-color);
        border-bottom: 1px solid var(--sys-pg-banner-br-border-color);
        border-right: 1px solid var(--sys-pg-banner-br-border-color);
    }
}
.blg-pg-featured-title::before {
    color: var(--sys-pg-banner-featured-title-fg-color);
    content: var(--sys-pg-banner-featured-title);
}
.blg-pg-featured-descrip::before {
    color: var(--sys-pg-banner-featured-descrip-fg-color);
    content: var(--sys-pg-banner-featured-descrip);
}
.blg-pg-recent-title::before {
    color: var(--sys-pg-banner-recent-title-fg-color);
    content: var(--sys-pg-banner-recent-title);
}
.blg-pg-recent-descrip::before {
    color: var(--sys-pg-banner-recent-descrip-fg-color);
    content: var(--sys-pg-banner-recent-descrip);
}
/*  # WordPress
   ## Comments
 ----------------------------------------------------------------------------*/

#comments {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}
.comments-area-wrapper {
    background: var(--fg-wht);
    border: solid var(--fg-bas-300);
    border-width: 0 1px 1px 0;
    margin: 15px 0 0;
    padding: 30px;
    position: relative;
}
.no-comments-wrapper {
    background: var(--fg-wht);
    border: solid var(--fg-bas-300);
    border-width: 0 1px 1px 0;
    margin: 15px 0 0;
    padding: 30px;
    text-align: center;
    position: relative;
}
/* comments title          ------------
-- */

.comments-title {
    color: var(--fg-bas-900);
    font-size: 23px;
    font-size: 1.4375rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
/* comment list            ------------
-- */

.comment-list {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}
.comment-list .children {
    list-style: none;
}
/* comment body            ------------
-- */

.comment-list>li>.comment-body,
.comment-list>li>.children .comment-body {
    border-top: 1px solid var(--fg-bas-400);
    margin: 15px 0 0;
    padding-top: 15px;
    position: relative;
}
.comment-list>li:first-child:not(.bypostauthor)>.comment-body {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}
.comment-list .bypostauthor>.comment-body {
    background: var(--bg-bas-100);
    border-bottom: 3px solid var(--fg-sec-500);
    padding: 15px;
}
/* commenter avatar        ------------
-- */

.comment-list .comment-author .avatar {
    border: 1px solid var(--fg-bas-400);
    border-radius: 100%;
    display: block;
    margin: 0 0 15px;
    padding: 2px;
}
.comment-list .bypostauthor .comment-author .avatar {
    border: 1px solid var(--fg-bas-400);
}
.comment-list .comment-author .avatar {
    width: 68px;
    height: 68px;
}
.comment-list .children .comment-author .avatar {
    height: 50px;
    width: 50px;
}
/* comment meta            ------------
-- */

.comment-list .comment-meta {
    font-size: 12px;
    font-size: 0.75rem;
    margin-bottom: 15px;
}
.comment-list .comment-content {
    margin-bottom: 15px;
    word-wrap: break-word;
}
.comment-list .reply {
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
}
.comment-list .comment-author .fn {
    font-weight: 900;
}
.comment-list .comment-author .fn a,
.comment-list .comment-author .fn a:visited {
    color: var(--fg-bas-600);
}
.comment-list .comment-author .fn a:hover,
.comment-list .comment-author .fn a:focus,
.comment-list .comment-author .fn a:active {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}
.comment-list .says {
    display: none;
}
.comment-list .edit-link {
    margin-left: 15px;
}
.comment-list .comment-awaiting-moderation {
    color: var(--fg-pri-500);
    margin-top: 10px;
}
/* comment form            ------------
-- */

div#respond {
    background: var(--bg-wht);
    border: solid var(--fg-bas-300);
    border-width: 0 1px 1px 0;
    margin: 15px 0 0;
    padding: 30px;
    position: relative;
}
.comment-list div#respond {
    background: var(--bg-bas-100);
    margin: 15px 0;
    padding: 15px;
    position: relative;
}
div#respond .comment-reply-title {
    color: var(--fg-bas-900);
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1;
    margin: 0 0 15px;
}
div#respond .comment-notes,
div#respond .logged-in-as,
div#respond .form-allowed-tags,
div#respond .form-allowed-tags code {
    font-size: 13px;
    font-size: 0.8125rem;
}
div#respond .comment-form label {
    display: block;
}
div#respond .form-submit {
    margin: 0;
}
div#respond .required {
    color: var(--fg-pri-900);
}
div#respond #cancel-comment-reply-link {
    color: var(--fg-pri-900);
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    right: 0;
}
/* comment subscription    ------------
-- */

.comment-subscription-form {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.4;
    margin: 30px 0 0;
    padding: 0;
}
.comment-subscription-form+.comment-subscription-form {
    margin: 8px 0 0;
}
/*  # WordPress
   ## Footer
 ----------------------------------------------------------------------------*/

/* footer container        ------------
-- */

.site-footer {
    background-color: var(--sys-ft-bg-color);
    position: relative;
}
.site-info {
    padding: 30px 10px 30px 10px;
    text-align: var(--sys-ft-align);
    width: 100%;
}
/* footer credits/copyright------------
-- */

.copyright {
    color: var(--copyright-font-color);
    font-family: var(--copyright-font-family);
    font-size: var(--copyright-font-size);
    font-style: var(--copyright-font-style);
    font-weight: var(--copyright-font-weight);
    letter-spacing: var(--copyright-font-spacing);
    line-height: var(--copyright-line-height);
    margin-bottom: 5px;
}
.copyright a,
.copyright a:visited {
    color: var(--copyright-lnk-pri-color) !important;
}
.copyright a:hover,
.copyright a:focus,
.copyright a:active {
    color: var(--copyright-lnk-sec-color) !important;
    background-color: var(--copyright-lnk-sec-bg-color) !important;
}
/* footer credits/design   ------------
-- */

.designer {
    color: var(--designer-font-color);
    font-family: var(--designer-font-family);
    font-size: var(--designer-font-size);
    font-style: var(--designer-font-style);
    font-weight: var(--designer-font-weight);
    letter-spacing: var(--designer-font-spacing);
    line-height: var(--designer-line-height);
}
.designer a,
.designer a:visited {
    color: var(--designer-lnk-pri-color) !important;
}
.designer a:hover,
.designer a:focus,
.designer a:active {
    color: var(--designer-lnk-sec-color) !important;
    background-color: var(--designer-lnk-sec-bg-color) !important;
}
/*  # WordPress
   ## Smilies (https://codex.wordpress.org/Using_Smilies)
 ----------------------------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/*  # WordPress
   ## Entry Meta (author / date / category / etc.)
 ----------------------------------------------------------------------------*/

.entry-meta {
    color: var(--fg-bas-900);
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: capitalize;
}
.entry-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entry-meta ul>li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.entry-meta ul>li:first-child::before {
    display: none;
}
.entry-meta a,
.entry-meta a:visited {
    color: var(--fg-bas-700);
}
.entry-meta .post-first-category a:before {
    color: var(--fg-pri-500);
    content: "\f02e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 6px;
}
.entry-meta a:hover,
.entry-meta a:focus,
.entry-meta a:active {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}
.entry-meta .posted-on a,
.entry-meta .byline a,
.entry-meta .posted-on a:visited,
.entry-meta .byline a:visited {
    color: var(--fg-sec-900);
    font-weight: 400;
    letter-spacing: 0.8px;
    padding-bottom: 4px;
}
.entry-meta .posted-on a:hover,
.entry-meta .byline a:hover,
.entry-meta .posted-on a:focus,
.entry-meta .byline a:focus,
.entry-meta .posted-on a:active,
.entry-meta .byline a:active {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}
/* header container        ------------
-- */

.entry-meta-header-before {
    margin: 0 0 5px;
}
.post-first-category {
    font-weight: 300;
    letter-spacing: 0.8px;
}
/* footer container        ------------
-- */

.entry-meta-footer {
    margin: 26px 0 0;
}
/* elements                ----------------------------------------------------
-- */

/* published               ------------
-- */

.updated:not(.published) {
    display: none;
}
/* sticky                  ------------
-- */

.post-label-featured {
    margin-left: -11px;
}
/* tags                    ------------
-- */
.tags-links::before,
.edit-link::before {
    content: " \2022 ";
    padding: 0 6px;
}
/* edit link              ------------
-- */

.page .edit-link::before,
.attachment .edit-link::before {
    display: none;
}
/*  # WordPress
   ## All Things Header
 ----------------------------------------------------------------------------*/

/* background color        ------------
-- */

.site-header {
    background: var(--bg-bas-100);
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
/* header items (hentry)   ----------------------------------------------------
-- */

/* mobile media format     ------------
-- */

.hentry {
    background: var(--bg-wht);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    display: block;
    margin-bottom: 15px;
    min-height: 295px;
    padding-bottom: 15px;
    position: relative;
}
.page-header {
    background: var(--bg-wht);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    display: block;
    margin: 0 0 16px;
    padding: 26px;
    position: relative;
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {
    .hentry {
        border-top: 1px solid var(--sys-content-tl-border-color);
        border-left: 1px solid var(--sys-content-tl-border-color);
        border-bottom: 1px solid var(--sys-content-br-border-color);
        border-right: 1px solid var(--sys-content-br-border-color);
        min-height: 275px;
    }
    .page-header {
        border-top: 1px solid var(--sys-content-tl-border-color);
        border-left: 1px solid var(--sys-content-tl-border-color);
        border-bottom: 1px solid var(--sys-content-br-border-color);
        border-right: 1px solid var(--sys-content-br-border-color);
    }
}
@media (min-width: 992px) {
    article.format-standard {
        min-height: 300px;
    }
}
@media (min-width: 1200px) {
    article.format-standard {
        min-height: 280px;
    }
}
/* image container         ------------
-- */

.post-thumbnail-wrapper-archive {
    overflow: hidden;
}
.post-thumbnail-wrapper-archive img {
    margin: 0 auto;
}
.entry-data-wrapper-archive,
.entry-data-wrapper-single {
    padding: 0 5px 0 5px;
}
/* page content block      ------------
-- */

.page-content {
    background: var(--bg-wht);
    border: solid var(--fg-bas-300);
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 30px;
    position: relative;
    word-wrap: break-word;
}
/* post header             ------------
-- */

.entry-header-wrapper {
    padding-top: 15px;
}
.entry-header {
    margin: 0 0 10px;
    padding: 0;
}
.entry-title {
    clear: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
/* post title              ------------
-- */

.page-title {
    clear: none;
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
.page-title span {
    color: var(--fg-sec-500);
}
.taxonomy-description {
    color: var(--fg-bas-900);
    font-size: 0.875rem;
    margin: 5px 0 0;
}
.entry-title a,
.entry-title a:visited,
.page-title a,
.page-title a:visited {
    color: var(--h1-color);
    font-size: 26px;
    font-size: 1.625rem;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active,
.page-title a:hover,
.page-title a:focus,
.page-title a:active {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}
/* image attachment page   ------------
-- */

h1.attachment-entry-title {
    color: var(--fg-blk);
    font-size: 20px;
    font-size: 1.25rem;
}
h1.attachment-entry-title:before {
    color: var(--fg-sec-500);
    content: "\f03e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 6px;
}
.entry-summary,
.entry-summary p {
    margin: 0 0 30px;
    padding: 0;
    word-wrap: break-word;
}
.entry-content {
    background-color: var(--sys-content-bg-color);
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
.entry-attachment {
    border-top: 1px solid var(--fg-bas-300);
    margin: 2px 0 30px 0;
    padding-top: 5px;
}
/*  # WordPress
   ## Media Elements
 ----------------------------------------------------------------------------*/

.hentry .mejs-container {
    margin: 0 0 26px;
}
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
    background: var(--bg-bas-800);
}
.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: var(--bg-wht);
}
.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
    background: var(--fg-pri-500);
}
.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: rgba(255, 255, 255, 0.33);
}
.hentry .mejs-container .mejs-controls .mejs-time {
    padding-top: 9px;
}
.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    border-radius: 0;
}
.hentry .mejs-overlay-loading {
    background: transparent;
}
/*  # WordPress
   ## Image attachment page
 ----------------------------------------------------------------------------*/

.entry-caption {
    border: 1px solid var(--fg-bas-300);
    color: var(--fg-bas-600);
    display: block;
    font-size: 14px;
    font-size: .875rem;
    padding: 10px;
    text-align: center;
}
/*  # WordPress
   ## Video
 ----------------------------------------------------------------------------*/

/* youtube                 ------------
-- */

.youtube-container,
.facebook-container {
    width: 100%;
}
.youtube-embed {
    background-color: var(--bg-bas-800);
    border-radius: 5px;
    padding-bottom: 56%;
    position: relative;
    width: 100%;
}
.youtube-embed iframe {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
/* facebook                ------------
-- */

.facebook-embed {
    background-color: var(--bg-bas-800);
    border-radius: 5px;
    height: auto;
    padding-top: 100%;
    position: relative;
    width: 100%;
}
.facebook-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: white;
    height: 100%;
    width: 100%;
}
/* iframe tint             ----------------------------------------------------
-- */

.iframe-tint\@050 iframe {
    background-color: var(--bg-bas-050);
}
.iframe-tint\@100 iframe {
    background-color: var(--bg-bas-100);
}
.iframe-tint\@200 iframe {
    background-color: var(--bg-bas-200);
}
.iframe-tint\@300 iframe {
    background-color: var(--bg-bas-300);
}
.iframe-tint\@400 iframe {
    background-color: var(--bg-bas-400);
}
.iframe-tint\@500 iframe {
    background-color: var(--bg-bas-500);
}
.iframe-tint\@600 iframe {
    background-color: var(--bg-bas-600);
}
.iframe-tint\@700 iframe {
    background-color: var(--bg-bas-700);
}
.iframe-tint\@800 iframe {
    background-color: var(--bg-bas-800);
}
.iframe-tint\@900 iframe {
    background-color: var(--bg-bas-900);
}
/* embedded containers     ----------------------------------------------------
-- */

/* mobile media format     ------------
-- */

.embed-alignright,
.embed-alignleft,
.embed-aligncenter {
    border-bottom: solid transparent 10px;
    clear: both;
    height: auto;
    width: 100%;
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {
    .embed-aligncenter {
        border-bottom: solid transparent 10px;
        clear: both;
        height: auto;
        width: 100%;
    }
    .embed-alignleft {
        border-right: solid transparent 10px;
        float: left;
        height: auto;
        width: 50%;
    }
    .embed-alignright {
        border-left: solid transparent 10px;
        float: right;
        height: auto;
        width: 50%;
    }
}
/* embedded caption        ----------------------------------------------------
-- */

/* mobile media format     ------------
-- */

.embed-caption {
    color: var(--fg-bas-600);
    font-size: .75em;
    margin-top: 8px;
    text-align: center;
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {
    .embed-caption {
        font-size: .875em;
    }
}
/* mp4                     ----------------------------------------------------
-- */

.wp-video,
video.wp-video-shortcode,
.mejs-container,
.mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.mejs-container {
    padding-top: 56.25%;
}
.wp-video,
video.wp-video-shortcode {
    max-width: 100% !important;
}
video.wp-video-shortcode {
    position: relative;
}
.mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.mejs-controls {
    display: none;
}
.mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
/*  # WordPress
   ## Navigation
 ----------------------------------------------------------------------------*/

/* post navigation     ----------------------------------------------------
-- */

.post-navigation,
.image-navigation,
.comment-navigation {
    background-color: var(--sys-content-bg-color);
    border-top: 1px solid var(--sys-content-tl-border-color);
    border-left: 1px solid var(--sys-content-tl-border-color);
    border-bottom: 1px solid var(--sys-content-br-border-color);
    border-right: 1px solid var(--sys-content-br-border-color);
    display: table;
    width: 100%;
}
.post-navigation .nav-links,
.image-navigation .nav-links {
    display: table-row;
    width: 100%;
}
.post-navigation .nav-next,
.image-navigation .nav-next,
.post-navigation .nav-previous,
.image-navigation .nav-previous {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    width: 50%;
}
.image-navigation .nav-next,
.image-navigation .nav-previous {
    vertical-align: bottom;
}
.post-navigation .meta-nav,
.image-navigation .meta-nav {
    font-size: smaller;
}
.post-navigation .nav-previous,
.image-navigation .nav-previous {
    text-align: left;
}
.post-navigation .nav-next,
.image-navigation .nav-next {
    text-align: right;
}
.post-edit-link::before {
    color: var(--fas-bas-800);
    content:" | ";
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {
    .post-navigation .meta-nav,
    .image-navigation .meta-nav {
        font-size: larger;
    }
    .post-navigation .nav-next,
    .image-navigation .nav-next,
    .post-navigation .nav-previous,
    .image-navigation .nav-previous {
        padding: 20px 10px;
    }
}
/* comments                ----------------------------------------------------
-- */

.comment-navigation {
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.comment-navigation.comment-navigation-above,
.comment-navigation.comment-navigation-below {
    margin: 15px 0 0;
    padding: 0;
}
.image-navigation .nav-previous,
.image-navigation .nav-next,
.comment-navigation .nav-previous,
.comment-navigation .nav-next {
    display: inline-block;
    margin: 0 1px;
    padding: 0;
}
.image-navigation .nav-previous a,
.image-navigation .nav-previous a:visited,
.image-navigation .nav-next a,
.image-navigation .nav-next a:visited .comment-navigation .nav-previous a,
.comment-navigation .nav-previous a:visited,
.comment-navigation .nav-next a,
.comment-navigation .nav-next a:visited {
    color: var(--fg-bas-600);
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 0 15px;
    padding: 0;
    text-transform: uppercase;
}
.image-navigation .nav-previous a:hover,
.image-navigation .nav-previous a:focus,
.image-navigation .nav-previous a:active,
.image-navigation .nav-next a:hover,
.image-navigation .nav-next a:focus,
.image-navigation .nav-next a:active,
.comment-navigation .nav-previous a:hover,
.comment-navigation .nav-previous a:focus,
.comment-navigation .nav-previous a:active,
.comment-navigation .nav-next a:hover,
.comment-navigation .nav-next a:focus,
.comment-navigation .nav-next a:active {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}
.image-navigation .nav-previous .meta-nav,
.image-navigation .nav-next .meta-nav,
.comment-navigation .nav-previous .meta-nav,
.comment-navigation .nav-next .meta-nav {
    display: none;
}
.comment-navigation .nav-previous a::before,
.image-navigation .nav-previous a::before {
    color: var(--fg-pri-500);
    content: "⊲";
    margin: 0 5px 0 0;
}
.comment-navigation .nav-next a::after,
.image-navigation .nav-next a::after {
    color: var(--fg-pri-500);
    content: "⊳";
    margin: 0 0 0 5px;
}
/* page                    ----------------------------------------------------
-- */

.nav-links {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: solid var(--fg-bas-300) 1px;
    border-bottom: solid var(--fg-bas-300) 1px;
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 10px 0 10px 0;
}
.nav-links>.page-numbers {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-color: var(--bg-wht);
    border: solid 2px var(--fg-bas-300);
    border-radius: .25rem;
    text-align: center;
    line-height: 40px;
}
.page-numbers.current {
    background-color: var(--bg-bas-100);
    font-weight: 500;
}
.page-numbers.prev::after {
    content: "⮜";
}
.page-numbers.next::before {
    content: "⮞";
}
a.page-numbers,
a.page-numbers:visited {
    color: var(--fg-bas-900);
    text-decoration: none;
}
a.page-numbers:hover {
    background-color: var(--bg-bas-300);
}
a.page-numbers:focus,
a.page-numbers:active {
    background-color: var(--fg-pri-500);
    border-color: var(--fg-bas-300);
    color: var(--bg-wht);
}
/* dropdown menus          ----------------------------------------------------
-- */

/* hide checkbox           ------------
-- */

input#menu-toggle[type=checkbox] {
    display: none;
}
/* mobile media format     ------------
-- */

/* unchecked label         ----------*/

input#menu-toggle[type=checkbox]~label {
    background-color: var(--sys-hdr-bg-color);
    color: var(--mnu-pri-fg-color);
    cursor: pointer;
    display: block;
    font-family: var(--font-sans);
    padding: 10px 0 10px 0;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
}
/* default toggled state   ----------*/

input#menu-toggle[type=checkbox]~div {
    display: none;
}
/* checked label style     ----------*/

input#menu-toggle[type=checkbox]:checked~label {
    background-color: var(--sys-hdr-bg-color);
    color: var(--mnu-pri-fg-color);
    display: block;
    font-family: var(--font-sans);
    padding: 10px 0 10px 0;
    text-decoration: none;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* checked toggled state   ----------*/

input#menu-toggle[type=checkbox]:checked~div {
    display: block;
}
/* mobile hamburger        ----------*/

.main-navigation {
    background-color: var(--mnu-sec-bg-color);
    color: var(--mnu-sec-fg-color);
    font-family: var(--font-condensed);
    padding-bottom: 0;
    width: 100%;
}
.main-navigation ul {
    list-style: none;
    line-height: 2.4;
    text-decoration: none;
    text-align: left;
}
.main-navigation ul li a {
    color: var(--mnu-sec-fg-color-hov);
    text-decoration: none;
}
.main-navigation ul li a:focus,
.main-navigation ul li a:active {
    color: var(--sys-lnk-sec-color);
}
/* desktop media formats   ------------
-- */

@media (min-width: 992px) {
    /* hide checkbox           ----------
  -- */
    input#menu-toggle[type=checkbox]~label {
        display: none;
    }
    /* checked toggled state   --------*/
    input#menu-toggle[type=checkbox]~div {
        display: block;
    }
    /* menu toolbar            --------*/
    nav#site-navigation {
        background-color: var(--mnu-bg-color);
    }
    /* toolbar settings        --------*/
    nav#site-navigation {
        background-color: var(--mnu-pri-bg-color);
        clear: both;
        display: block;
        height: 3em;
        width: 100%;
    }
    /* global settings         --------*/
    nav.main-navigation ul {
        background-color: inherit;
        font-family: var(--font-sans);
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.4;
        list-style: none;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        text-align: var(--sys-hdr-align);
    }
    #primary-menu li.menu-item {
        display: inline-block;
        position: relative;
        text-align: left;
    }
    #primary-menu li.menu-item a {
        display: inline-block;
        padding: 14px;
    }
    #primary-menu li.menu-item::before {
        display: none;
    }
    /* level 1 ul              ------------
  -- */
    ul.menu li.menu-item:hover,
    ul.menu li.menu-item a:hover {
        background-color: var(--mnu-pri-bg-color-hov);
        color: var(--mnu-pri-fg-color-hov);
        font-weight: var(--mnu-pri-fg-weight-hov);
    }
    ul.menu li:nth-child(n+1) a {
        color: var(--mnu-pri-fg-color);
        padding: 0 15px;
        text-decoration: none;
    }
    ul.menu li:hover>ul {
        display: block;
    }
    ul.menu li:nth-child(n+1).menu-item-has-children>a::after,
    ul.menu li:nth-child(n+1).page_item_has_children>a::after {
        content: "▾";
        font-weight: 900;
        padding-left: 5px;
    }
    /* level 2 ul              ------------
  -- */
    ul.menu ul {
        background-color: var(--mnu-sec-bg-color);
        display: none;
        left: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 10;
    }
    ul.menu ul ul {
        top: 0;
        left: 100%;
    }
    ul.sub-menu li:nth-child(n+1) {
        display: inline-block;
    }
    ul.sub-menu li:nth-child(n+1) a {
        color: var(--mnu-sec-fg-color);
        display: inline-block;
        width: 200px;
    }
    ul.sub-menu li:nth-child(n+1).menu-item {
        display: block;
        text-align: left;
    }
    ul.sub-menu li:nth-child(n+1).menu-item:hover,
    ul.sub-menu li:nth-child(n+1).menu-item a:hover {
        background-color: var(--mnu-sec-bg-color-hov);
        color: var(--mnu-sec-fg-color-hov);
        font-weight: var(--mnu-sec-fg-weight-hov);
    }
    ul.sub-menu li:nth-child(n+1).menu-item-has-children>a::after,
    ul.sub-menu li:nth-child(n+1).page_item_has_children>a::after {
        content: "▸";
        font-weight: 900;
        padding-left: 10px;
    }
}
/* admin menu bar      ----------------------------------------------------
-- */

a.ab-item,
a.ab-item:visited {
    color: var(--fg-bas-300) !important;
}
a.ab-item:hover,
a.ab-item:focus,
a.ab-item:active {
    color: var(--fg-wht) !important;
    background-color: var(--bg-bas-800) !important;
}
/* page links          ----------------------------------------------------
-- */

.page-links {
    clear: both;
    font-size: 0px;
    margin: 0;
    padding: 0;
}
.page-links a,
.page-links>span {
    background: var(--bg-bas-400);
    color: var(--fg-bas-900);
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    margin: 0 1px;
    padding: 10px 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.page-links a {
    color: var(--fg-bas-900);
    text-decoration: none;
}
.page-links a:hover {
    background: var(--fg-pri-500);
    color: var(--bg-wht);
    font-weight: 700;
}
.page-links>span {
    background: var(--fg-sec-500);
    color: var(--bg-wht);
}
.page-links .page-links-title {
    background: transparent;
    border: none;
    color: var(--fg-bas-700);
    display: none;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0;
    padding: 0 7px 0 0;
}
/* horizontal lists    ----------------------------------------------------
-- */

ul.hz-list li::before {
    content: "";
    color: transparent;
    display: inline-block;
    width: 1.1em;
}
/*  # WordPress
   ## Site Title & Description
 ----------------------------------------------------------------------------*/

.site-title a,
.site-title a:visited {
    color: var(--title-lnk-pri-color);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-style: var(--title-font-style);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--title-font-spacing);
}
.site-title a:hover {
    color: var(--title-lnk-sec-color);
    background-color: transparent;
}
.site-description {
    color: var(--descr-font-color);
    font-family: var(--descr-font-family);
    font-size: var(--descr-font-size);
    font-style: var(--descr-font-style);
    font-weight: var(--descr-font-weight);
    letter-spacing: var(--descr-font-spacing);
}
/*  # WordPress
   ## Site Branding Logo
 ----------------------------------------------------------------------------*/

/* mobile media format     ------------
-- */

.header-banner {
    background-color: var(--sys-hdr-bg-color);
    min-height: 30px;
    overflow: hidden;
    text-align: var(--sys-hdr-align);
    width: 100%;
}
.site-title {
    padding-bottom: 10px;
    padding-top: 4px;
    padding: 4px 4px 10px 4px;
}
.site-description {
    display: none;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {
    .site-title {
        padding: 4px 10px 4px 10px;
    }
    .site-description {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
}
img.header-logo {
    height: 100%;
    object-fit: contain;
    padding-top: 5px;
    width: auto;
}
/*  # WordPress
   ## Site Content Framework
 ----------------------------------------------------------------------------*/

/* toc                     ----------------------------------------------------
-- */

/* mobile media format     ------------
-- */

.site-content {
    background-color: var(--sys-bg-color);
    padding: 0 5px 0 5px;
}
.toc-menu {
    background-color: var(--sys-hdr-bg-color);
    background-color: var(--mnu-bg-color);
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    padding: 0.3125em 2em 0.3125em 2em;
    text-align: var(--sys-hdr-align);
    text-align: center;
}
.content-area-container {
    display: block;
}
.content-area {
    text-align: left;
    padding: 6px;
    width: 100%;
}
.sidebar-widget-area {
    padding: 6px;
    width: 100%;
}
.post-wrapper-archive .hentry {
    width: 100%;
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {
    .site-content {
        background-color: var(--sys-bg-color);
        padding: 0;
    }
    .toc-menu {
        padding: 0.3125em 2em 0.3125em 2em;
        text-align: var(--sys-hdr-align);
        text-align: center;
    }
}
.toc-menu a,
.toc-menu a:visited {
    color: var(--fg-blk);
}
.toc-menu a:hover,
.toc-menu a:focus,
.toc-menu a:active {
    color: var(--fg-wht);
}
/* button animation        ----------*/

.toc-btn {
    background-color: transparent;
    border-radius: .25rem;
    position: relative;
    display: inline-block;
    padding: 5px 8px 4px 8px;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    vertical-align: middle;
}
.toc-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-sec-500);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.toc-btn:hover,
.toc-btn:focus,
.toc-btn:active {
    color: var(--fg-wht);
}
.toc-btn:hover:before,
.toc-btn:focus:before,
.toc-btn:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}
/*  # WordPress
   ## Sidebar
 ----------------------------------------------------------------------------*/

.sidebar {
    margin: 0;
    position: relative;
}
@media (min-width: 576px) {
    /* outer container + sidebar --------
  -- */
    .content-area-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    /* inner flexbox container ----------
  -- */
    .post-wrapper-archive {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .content-area {
        padding: 6px;
        width: 66.66666%;
    }
    .sidebar-widget-area {
        padding-top: 6px;
        padding-right: 6px;
        width: 33.33333%;
    }
    .content-area-container>.no-sidebar {
        width: 100%;
    }
    .post-wrapper-archive .hentry {
        width: 100%;
    }
}
/* large devices           ----------*/

@media (min-width: 992px) {
    .content-area {
        padding: 12px;
        width: 66.66666%;
    }
    .sidebar-widget-area {
        padding-top: 12px;
        padding-right: 12px;
        width: 33.33333%;
    }
    .content-area-container>.no-sidebar {
        width: 100%;
    }
    .post-wrapper-archive .hentry {
        width: calc(50% - 8px);
    }
}
/* x-large devices         ----------*/

@media (min-width: 1200px) {
    .content-area {
        padding: 12px;
        width: 75%;
    }
    .sidebar-widget-area {
        padding-top: 12px;
        padding-right: 12px;
        width: 25%;
    }
    .content-area-container>.no-sidebar {
        width: 100%;
    }
    .post-wrapper-archive .hentry {
        width: calc(50% - 8px);
    }
}
/* xx-large devices        ----------*/

@media (min-width: 1440px) {
    .content-area {
        padding: 12px;
        width: 80%;
    }
    .sidebar-widget-area {
        padding-top: 12px;
        padding-right: 12px;
        width: 20%;
    }
    .content-area-container>.no-sidebar {
        width: 100%;
    }
    .post-wrapper-archive .hentry {
        width: calc(33.3333% - 8px);
    }
}
/*  # WordPress
   ## Site Wrapper
 ----------------------------------------------------------------------------*/

.site-wrapper {
    position: relative;
}
/*  # WordPress
   ## Widgets
 ----------------------------------------------------------------------------*/

/* sidebar                 ----------------------------------------------------
-- */

.widget {
    background: var(--sys-content-bg-color);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    display: block;
    margin: 0 0 15px;
    padding: 30px;
    position: relative;
    word-wrap: break-word;
}
@media (min-width: 768px) {
    .widget {
        border-top: 1px solid var(--sys-content-tl-border-color);
        border-left: 1px solid var(--sys-content-tl-border-color);
        border-bottom: 1px solid var(--sys-content-br-border-color);
        border-right: 1px solid var(--sys-content-br-border-color);
    }
}
.widget:last-child {
    margin-bottom: 0;
}
.widget-title {
    color: var(--fg-bas-600);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    letter-spacing: 0.05rem;
    margin: 0 0 22px;
}
.widget a,
.widget a:visited,
a.sbwidget,
a.sbwidget:visited {
    color: var(--sys-lnk-pri-color);
}
.widget a:hover,
.widget a:focus,
.widget a:active,
a.sbwidget:hover,
a.sbwidget:focus,
a.sbwidget:active {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}
ul.sbwidget {
    margin-left: 45px;
}
.widget_meta ul,
.widget_custom_html ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    font-size: 0.875em;
}
.page-content .widget {
    margin: 0 0 30px;
    padding: 0;
}
.page-content .widget::before,
.page-content .widget::after {
    display: none;
}
.page-content .widget:last-child {
    margin-bottom: 0;
}
.widget ul,
.widget ol {
    margin: 0;
}
.widget li>ul,
.widget li>ol {
    margin-bottom: 0;
    margin-left: 24px;
}
.widget li,
.widget li.hentry {
    padding: 0 0 5px;
    position: relative;
}
.widget li ul,
.widget li.hentry ul {
    margin-top: 9px;
    height: 0.0625rem;
}
.widget li li:last-child,
.widget li.hentry li:last-child {
    padding-bottom: 0;
}
.widget li:last-child,
.widget li.hentry:last-child {
    padding-bottom: 0;
}
/* search                  ----------------------------------------------------
-- */

.search-frm-container {
    background-color: var(--sys-pg-banner-bg-color-right);
    border-radius: .25rem;
    width: 100%;
}
.search-frm {
    margin: 0;
    padding: 0;
    position: relative;
}
.search-frm .search-fld {
    background-color: var(--sys-pg-banner-bg-color-right);
    border-radius: .25rem;
    border: 1px solid transparent;
    height: 50px;
    padding: 0 10px;
    text-align: left;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
}
.search-frm .search-sub {
    background-color: var(--sys-pg-banner-bg-color-right);
    border-radius: .25rem;
    border: 1px solid transparent;
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    position: relative;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-size: 1.25rem;
    width: 60px;
    height: 50px;
    padding: 0;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    vertical-align: middle;
}
.search-frm .search-sub:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-sec-500);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.search-frm .search-sub:hover,
.search-frm .search-sub:focus,
.search-frm .search-sub:active {
    color: var(--fg-wht);
}
.search-frm .search-fld:hover,
.search-frm .search-fld:focus,
.search-frm .search-fld:active {
    background-color: vr(--fg-wht);
}
.search-frm .search-sub:hover:before,
.search-frm .search-sub:focus:before,
.search-frm .search-sub:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}
/* tag cloud               ----------------------------------------------------
-- */

.widget_tag_cloud>div::before,
.widget_tag_cloud>div::after {
    content: '';
    display: table;
}
.widget_tag_cloud>div::after {
    clear: both;
}
.widget_tag_cloud a::after {
    color: var(--fg-bas-900);
    content: '\2044';
    margin: 0 6px;
}
.widget_tag_cloud a,
.widget_tag_cloud a:visited {
    float: left;
    font-size: 16px !important;
    font-size: 1rem !important;
    text-decoration: none;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
/* stats                   ----------------------------------------------------
-- */

img#wpstats,
img[id*="botd"] {
    position: absolute;
    top: -9999px;
}
/*  # WordPress
   ## CodeMirror
 ----------------------------------------------------------------------------*/

.CodeMirror-activeline-background {
    background-color: var(--bg-sec-050);
}
/* mobile media format     ------------
-- */

.CodeMirror {
    border-top: solid var(--fg-bas-300) 4px;
    border-bottom: solid var(--fg-bas-300) 4px;
    font-family: var(--font-mono);
    font-size: 12px;
    height: 415px;
}
/* other media formats     ------------
-- */

@media (min-width: 576px) {
    .CodeMirror {
        font-size: 13px;
    }
}
@media (min-width: 992px) {
    .CodeMirror {
        font-size: 14px;
    }
}
@media (min-width: 1200px) {
    .CodeMirror {
        font-size: 15px;
    }
}
@media (min-width: 1440px) {
    .CodeMirror {
        font-size: 16px;
    }
}
/*  # WordPress
   ## GIST
 ----------------------------------------------------------------------------*/

.gist .line,
.gist .line span {
    word-wrap: normal!important;
}
.gist table {
    margin-bottom: 0!important;
    table-layout: auto!important;
}
.gist .line-numbers {
    width: 4em!important;
}
.gist .line,
.gist .line-number {
    font-size: 12px!important;
    height: 18px!important;
    line-height: 18px!important;
}
.gist .line {
    white-space: pre!important;
    width: auto!important;
}
/*  # WordPress
   ## Simply Social Buttons Plugin (bugfix)
 ----------------------------------------------------------------------------*/

.simplesocialbuttons-inline-no-animation {
    width: 100% !important;
}
/*  # eof
    blog-base
-----------------------------------------------------------------------------*/
