/*
File          - blog-var.css
Build         - 90202.1
Programmer    - John Baer
Purpose       - Support file for Xidipity Wordpress Theme
License       - GNU General Public License v2 or later (http://www.gnu.org/licenses/gpl-2.0.html)
Sources       - Google Material Design (https://material.io/)
Comments      - Xidipity variables which includes fonts, foreground colors, & background colors.
Tags          - System: configuration / css

Documentation - https://staging1.xidipity.com/post/workshop/customizing-xidipity/

Color Scheme  - https://xidipity.com/authoring-tools/style/color-palette/

         base - gray
      primary - deep orange
    secondary - deep purple
    
Google Fonts    https://fonts.google.com/
   sans serif - Roboto
    condensed - Roboto condensed
   monospaced - Roboto mono
        serif - Roboto slab
      cursive - Kalam

----------------------------------------------------------------------------*/
/*  font imports
 ---------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

/*  root
 ---------------------------------------------------------------------------*/

:root {

/* base font size    ------------------------------------------------------ */

  font-size: 16px;

/* foreground colors    --------------------------------------------------- */

  --fg-blk:    #000000;
  --fg-wht:    #ffffff;

  --fg-bas-900:#212121;
  --fg-bas-800:#424242;
  --fg-bas-700:#616161;
  --fg-bas-600:#757575;
  --fg-bas-500:#9e9e9e;
  --fg-bas-400:#bdbdbd;
  --fg-bas-300:#e0e0e0;
  --fg-bas-200:#eeeeee;
  --fg-bas-100:#f5f5f5;
  --fg-bas-050:#fafafa;

  --fg-pri-900:#bf360c;
  --fg-pri-800:#d84315;
  --fg-pri-700:#e64a19;
  --fg-pri-600:#f4511e;
  --fg-pri-500:#ff5722;
  --fg-pri-400:#ff7043;
  --fg-pri-300:#ff8a65;
  --fg-pri-200:#ffab91;
  --fg-pri-100:#ffccbc;
  --fg-pri-050:#fbe9e7;

  --fg-sec-900:#311b92;
  --fg-sec-800:#4527a0;
  --fg-sec-700:#512da8;
  --fg-sec-600:#5e35b1;
  --fg-sec-500:#673ab7;
  --fg-sec-400:#7e57c2;
  --fg-sec-300:#9575cd;
  --fg-sec-200:#b39ddb;
  --fg-sec-100:#d1c4e9;
  --fg-sec-050:#ede7f6;

/* background colors    --------------------------------------------------- */

  --bg-blk:    #000000;
  --bg-wht:    #ffffff;

  --bg-bas-900:#212121;
  --bg-bas-800:#424242;
  --bg-bas-700:#616161;
  --bg-bas-600:#757575;
  --bg-bas-500:#9e9e9e;
  --bg-bas-400:#bdbdbd;
  --bg-bas-300:#e0e0e0;
  --bg-bas-200:#eeeeee;
  --bg-bas-100:#f5f5f5;
  --bg-bas-050:#fafafa;

  --bg-pri-900:#bf360c;
  --bg-pri-800:#d84315;
  --bg-pri-700:#e64a19;
  --bg-pri-600:#f4511e;
  --bg-pri-500:#ff5722;
  --bg-pri-400:#ff7043;
  --bg-pri-300:#ff8a65;
  --bg-pri-200:#ffab91;
  --bg-pri-100:#ffccbc;
  --bg-pri-050:#fbe9e7;

  --bg-sec-900:#311b92;
  --bg-sec-800:#4527a0;
  --bg-sec-700:#512da8;
  --bg-sec-600:#5e35b1;
  --bg-sec-500:#673ab7;
  --bg-sec-400:#7e57c2;
  --bg-sec-300:#9575cd;
  --bg-sec-200:#b39ddb;
  --bg-sec-100:#d1c4e9;
  --bg-sec-050:#ede7f6;

/* headers    ------------------------------------------------------------- */

  --h1-color:#000000;
  --h1-font:'Roboto', sans-serif;
  --h1-size:2.125em;
  --h1-style:normal;
  --h1-weight:400;

  --h2-color:#000000;
  --h2-font:'Roboto', sans-serif;
  --h2-size:1.875em;
  --h2-style:normal;
  --h2-weight:400;

  --h3-color:#000000;
  --h3-font:'Roboto', sans-serif;
  --h3-size:1.5em;
  --h3-style:normal;
  --h3-weight:400;

  --h4-color:#000000;
  --h4-font:'Roboto', sans-serif;
  --h4-size:1.25em;
  --h4-style:normal;
  --h4-weight:400;

  --h5-color:#bf360c;
  --h5-font:'Roboto', sans-serif;
  --h5-size:1.125em;
  --h5-style:normal;
  --h5-weight:400;

  --h6-color:#bf360c;
  --h6-font:'Roboto', sans-serif;
  --h6-size:1.125em;
  --h6-style:italic;
  --h6-weight:400;

/* sys header ------------------------------------------------------------- */

  --sys-hdr-bg-color:#fafafa;
  --sys-hdr-align:center;
  --sys-pg-banner-fg-color-left:#ffffff;
  --sys-pg-banner-bg-color-left:#ff8a65;
  --sys-pg-banner-fg-color-right:#212121;
  --sys-pg-banner-bg-color-right:#fafafa;
  --sys-pg-banner-font-family:'Roboto Slab', serif;
  --sys-pg-banner-font-weight:300;

  --title-lnk-pri-color:#5e35b1;
  --title-lnk-sec-color:#f4511e;
  --title-font-family:'Kaushan Script', cursive;
  --title-font-size:3em;
  --title-font-spacing:0.0625em;
  --title-font-style:normal;
  --title-font-weight:400;

  --descr-font-color:#212121;
  --descr-font-family:'Roboto', sans-serif;
  --descr-font-size:1em;
  --descr-font-spacing:0.5em;
  --descr-font-style:normal;
  --descr-font-weight:300;

/* sys menu   ------------------------------------------------------------- */

  --mnu-pri-fg-color:#424242;
  --mnu-pri-bg-color:#fafafa;
  --mnu-pri-fg-color-hov:#000000;
  --mnu-pri-bg-color-hov:#ede7f6;
  --mnu-pri-fg-weight-hov:400;

  --mnu-sec-fg-color:#616161;
  --mnu-sec-bg-color:#e0e0e0;
  --mnu-sec-fg-color-hov:#000000;
  --mnu-sec-bg-color-hov:#d1c4e9;
  --mnu-sec-fg-weight-hov:400;

/* sys footer ------------------------------------------------------------- */

  --sys-ft-bg-color:#fafafa;
  --sys-ft-align:center;

  --copyright-line-height:inherit;
  --copyright-font-color:#455a64;
  --copyright-lnk-pri-color:#455a64;
  --copyright-lnk-sec-color:#f4511e;
  --copyright-lnk-sec-bg-color:transparent;
  --copyright-font-family:'Roboto', sans-serif;
  --copyright-font-size:0.75em;
  --copyright-font-spacing:normal;
  --copyright-font-style:normal;
  --copyright-font-weight:300;

  --designer-line-height:inherit;
  --designer-font-color:#455a64;
  --designer-lnk-pri-color:#455a64;
  --designer-lnk-sec-color:#f4511e;
  --designer-font-family:'Roboto', sans-serif;
  --designer-font-size:0.75em;
  --designer-font-spacing:normal;
  --designer-font-style:normal;
  --designer-font-weight:300;

/* system     ------------------------------------------------------------- */

  --sys-bg-color:#fafafa;
  --sys-content-bg-color:#ffffff;
  --sys-content-tl-border-color:#eeeeee;
  --sys-content-br-border-color:#e0e0e0;
  --sys-line-height:1.4;
  --sys-font-family:'Roboto', sans-serif;
  --sys-font-color:#000000;
  --sys-font-size:1rem;
  --sys-font-weight:300;
  --sys-font-spacing:normal;
  --sys-lnk-pri-color:#673ab7;
  --sys-lnk-sec-color:#f4511e;
  --sys-lnk-sec-bg-color:transparent;
  --sys-lnk-weight:400;

  --font-sans:'Roboto', sans-serif;
  --font-condensed:'Roboto Condensed', sans-serif;
  --font-mono:'Roboto Mono', monospace;
  --font-serif:'Roboto Slab', serif;
  --font-cursive:'Kalam', cursive;

}

/* print     -------------------------------------------------------------- */

@media print {
  :root {

    --font-sans:sans-serif;
    --font-condensed:sans-serif;
    --font-mono:monospace;
    --font-serif:serif;
    --font-cursive:cursive;

    --prnt-page:letter;

  }
}
