/*
 *  Xidipity WordPress Theme
 *
 *  file:   editor-style.css
 *  build:  90817.2
 *  descrp: mce css
 *  ref:    https://github.com/WpThemeDev/xidipity
 *
 *  @package WordPress
 *  @subpackage Xidipity
 *  @since 0.9.0
 *
**/
/*
    import dependencies
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.7.4/tailwind.css") screen;
@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.7.4/utilities.css") screen;
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css") screen;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons") screen;
@import "blog-palette.min.css" screen;
@import "blog-common.min.css" screen;
@import "blog-var.css" screen;

/*  # TinyMCE
   ## Body
 ----------------------------------------------------------------------------*/

body,
.mce-content-body {
    background-color: var(--bg-wht);
    color: var(--sys-font-color);
    font-family: var(--sys-font-family);
    font-size: var(--sys-font-size);
    font-weight: var(--sys-font-weight);
    line-height: var(--sys-line-height);
    margin: 9px 10px;
    max-width: 100%;
    -webkit-font-smoothing: antialiased !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Old syntax */
}


/* required                ----------------------------------------------------
-- */

body.webkit strong,
body.webkit b {
    font-weight: bolder !important;
}

abbr,
acronym {
    font-weight: bolder !important;
}


/*  # TinyMCE
   ## Editor Only
 ----------------------------------------------------------------------------*/


/* hide mce specific item  ------------
-- */

.mce\:hidden {
    display: none;
}


/* page break symbol       ------------
-- */

.print\:page-break::after {
    content: " ¶";
    color: var(--fg-pri-500);
}


/* excerpt template        ------------
-- */

.excerpt-template {
    background-color: var(--bg-bas-050);
    border: solid var(--fg-bas-300) 1px;
    border-radius: .25rem;
    color: var(--fg-bas-700);
    display: block;
    font-size: 0.875rem;
    margin-bottom: 10px;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
}


/* 2 column outline        ------------
-- */

table#responsive tr td,
table#twocol tr td,
table#twocol tr td table#twocol tr td {
    border: 1px dashed var(--fg-sec-100);
}


/* blank line spacers      ------------
-- */

.spacer-triple,
.spacer-double,
.spacer-single,
.spacer-3\/4,
.spacer-1\/2 {
    background-color: var(--fg-sec-050);
}


/* misc                    ----------------------------------------------------
-- */


/* template conntainer     ------------
-- */

#TPL {
    display: block;
    width: 100%;
}

.tpl-head {
    display: block;
}

.tpl-foot {
    display: none;
}

/* excerpt                 ------------
-- */

#excerpt {
    display: table;
    width: 100%;
}

.excerpt-tr {
    display: table-row;
    width: 100%;
}

.excerpt-td {
    background-color: var(--bg-bas-050);
    border-radius: 0.25em;
    border: 1px solid var(--fg-bas-300);
    display: table-cell;
    font-size: 0.875rem;
    overflow: auto;
    padding: 10px 8px;
    white-space: pre-wrap;
    width: 100%;
}

.excerpt-wp {
    display: none;
}

/*
    eof:editor-style
*/
