/*
 *  Xidipity WordPress Theme
 *
 *  file:   media/screen.css
 *  build:  91020.1a
 *  descrp: common-style variables
 *  ref:    https://material.io/design/
 *
 *  @package WordPress
 *  @subpackage Xidipity
 *  @since 0.9.0
 *
**/
/*
    root
*/
:root {
    /*
        definitions
    */
    /*: base font size :*/
    font-size: 16px;
    /*: uni colors :*/
    --transparent: transparent;
    /*: foreground colors :*/
    --fg-blk: #000000;
    --fg-wht: #ffffff;
    /*: grey :*/
    --fg-bas-900: #212121;
    --fg-bas-800: #424242;
    --fg-bas-700: #616161;
    --fg-bas-600: #757575;
    --fg-bas-500: #9e9e9e;
    --fg-bas-400: #bdbdbd;
    --fg-bas-300: #e0e0e0;
    --fg-bas-200: #eeeeee;
    --fg-bas-100: #f5f5f5;
    --fg-bas-050: #fafafa;
    /*: deep purple :*/
    --fg-pri-900: #311b92;
    --fg-pri-800: #4527a0;
    --fg-pri-700: #512da8;
    --fg-pri-600: #5e35b1;
    --fg-pri-500: #673ab7;
    --fg-pri-400: #7e57c2;
    --fg-pri-300: #9575cd;
    --fg-pri-200: #b39ddb;
    --fg-pri-100: #d1c4e9;
    --fg-pri-050: #ede7f6;
    /*: deep orange :*/
    --fg-sec-900: #bf360c;
    --fg-sec-800: #d84315;
    --fg-sec-700: #e64a19;
    --fg-sec-600: #f4511e;
    --fg-sec-500: #ff5722;
    --fg-sec-400: #ff7043;
    --fg-sec-300: #ff8a65;
    --fg-sec-200: #ffab91;
    --fg-sec-100: #ffccbc;
    --fg-sec-050: #fbe9e7;
    /*: background colors :*/
    --bg-blk: #000000;
    --bg-wht: #ffffff;
    /*: grey :*/
    --bg-bas-900: #212121;
    --bg-bas-800: #424242;
    --bg-bas-700: #616161;
    --bg-bas-600: #757575;
    --bg-bas-500: #9e9e9e;
    --bg-bas-400: #bdbdbd;
    --bg-bas-300: #e0e0e0;
    --bg-bas-200: #eeeeee;
    --bg-bas-100: #f5f5f5;
    --bg-bas-050: #fafafa;
    /*: deep purple :*/
    --bg-pri-900: #311b92;
    --bg-pri-800: #4527a0;
    --bg-pri-700: #512da8;
    --bg-pri-600: #5e35b1;
    --bg-pri-500: #673ab7;
    --bg-pri-400: #7e57c2;
    --bg-pri-300: #9575cd;
    --bg-pri-200: #b39ddb;
    --bg-pri-100: #d1c4e9;
    --bg-pri-050: #ede7f6;
    /*: deep orange :*/
    --bg-sec-900: #bf360c;
    --bg-sec-800: #d84315;
    --bg-sec-700: #e64a19;
    --bg-sec-600: #f4511e;
    --bg-sec-500: #ff5722;
    --bg-sec-400: #ff7043;
    --bg-sec-300: #ff8a65;
    --bg-sec-200: #ffab91;
    --bg-sec-100: #ffccbc;
    --bg-sec-050: #fbe9e7;
    /*: other md colors (300/500/700) :*/
    --bg-red: #E57373;
    --bdr-red: #F44336;
    --fg-red: #D32F2F;
    --bg-pink: #F06292;
    --bdr-pink: #E91E63;
    --fg-pink: #C2185B;
    --bg-purple: #BA68C8;
    --bdr-purple: #9C27B0;
    --fg-purple: #7B1FA2;
    --bg-deep-purple: #9575CD;
    --bdr-deep-purple: #673AB7;
    --fg-deep-purple: #512DA8;
    --bg-indigo: #7986CB;
    --bdr-indigo: #3F51B5;
    --fg-indigo: #303F9F;
    --bg-blue: #64B5F6;
    --bdr-blue: #2196F3;
    --fg-blue: #1976D2;
    --bg-light-blue: #4FC3F7;
    --bdr-light-blue: #03A9F4;
    --fg-light-blue: #0288D1;
    --bg-cyan: #4DD0E1;
    --bdr-cyan: #00BCD4;
    --fg-cyan: #0097A7;
    --bg-teal: #4DB6AC;
    --bdr-teal: #009688;
    --fg-teal: #00796B;
    --bg-green: #81C784;
    --bdr-green: #4CAF50;
    --fg-green: #388E3C;
    --bg-light-green: #AED581;
    --bdr-light-green: #8BC34A;
    --fg-light-green: #689F38;
    --bg-lime: #DCE775;
    --bdr-lime: #CDDC39;
    --fg-lime: #AFB42B;
    --bg-yellow: #FFF176;
    --bdr-yellow: #FFEB3B;
    --fg-yellow: #FBC02D;
    --bg-amber: #FFD54F;
    --bdr-amber: #FFC107;
    --fg-amber: #FFA000;
    --bg-orange: #FFB74D;
    --bdr-orange: #FF9800;
    --fg-orange: #F57C00;
    --bg-deep-orange: #FF8A65;
    --bdr-deep-orange: #FF5722;
    --fg-deep-orange: #E64A19;
    --bg-brown: #A1887F;
    --bdr-brown: #795548;
    --fg-brown: #5D4037;
    --bg-grey: #E0E0E0;
    --bdr-grey: #9E9E9E;
    --fg-grey: #616161;
    --bg-blue-grey: #90A4AE;
    --bdr-blue-grey: #607D8B;
    --fg-blue-grey: #455A64;
    /*: hilite plugin support :*/
    --bg-highlight: #FFF59D;
    /*: font families :*/
    --font-sans: "Roboto", sans-serif;
    --font-condensed: "Roboto Condensed", sans-serif;
    --font-mono: "Roboto Mono", monospace;
    --font-serif: "Roboto Slab", serif;
    --font-cursive: "Kalam", cursive;
    --font-fancy: "Kaushan Script", cursive;
    /*: font sizes :*/
    --font-size-h1: 2.125rem;
    --font-size-h2: 1.875rem;
    --font-size-h3: 1.625rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.375rem;
    --font-size-h6: 1.25rem;
    --font-size-rg: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
    /*: font weight :*/
    --font-wgt-thin: 100;
    --font-wgt-xtralight: 200;
    --font-wgt-light: 300;
    --font-wgt-regular: 400;
    --font-wgt-medium: 500;
    --font-wgt-semibold: 600;
    --font-wgt-bold: 700;
    --font-wgt-extrabold: 800;
    --font-wgt-black: 900;
    /*: font styles :*/
    --font-style-italic: italic;
    --font-style-normal: normal;
    --font-style-oblique: oblique;
    /*
        application
    */
    /*: headers :*/
    --h1-color: var(--fg-bas-800);
    --h1-font: var(--font-sans);
    --h1-size: var(--font-size-h1);
    --h1-style: var(--font-style-normal);
    --h1-weight: var(--font-wgt-regular);
    --h2-color: var(--fg-bas-800);
    --h2-font: var(--font-sans);
    --h2-size: var(--font-size-h2);
    --h2-style: var(--font-style-normal);
    --h2-weight: var(--font-wgt-regular);
    --h3-color: var(--fg-bas-800);
    --h3-font: var(--font-sans);
    --h3-size: var(--font-size-h3);
    --h3-style: var(--font-style-normal);
    --h3-weight: var(--font-wgt-regular);
    --h4-color: var(--fg-bas-800);
    --h4-font: var(--font-sans);
    --h4-size: var(--font-size-h4);
    --h4-style: var(--font-style-normal);
    --h4-weight: var(--font-wgt-regular);
    --h5-color: var(--fg-bas-800);
    --h5-font: var(--font-sans);
    --h5-size: var(--font-size-h5);
    --h5-style: var(--font-style-normal);
    --h5-weight: var(--font-wgt-regular);
    --h6-color: var(--fg-bas-700);
    --h6-font: var(--font-sans);
    --h6-size: var(--font-size-h6);
    --h6-style: var(--font-style-oblique);
    --h6-weight: var(--font-wgt-regular);
    /*: sys header :*/
    --sys-hdr-bg-color: var(--bg-bas-050);
    --sys-hdr-align: center;
    --title-lnk-pri-color: var(--fg-pri-600);
    --title-lnk-sec-color: var(--fg-sec-600);
    --title-font-family: var(--font-fancy);
    --title-font-size: 3rem;
    --title-font-spacing: 0.0625rem;
    --title-font-style: normal;
    --title-font-weight: var(--font-wgt-regular);
    --descr-font-color: var(--fg-bas-900);
    --descr-font-family: var(--font-sans);
    --descr-font-size: 1rem;
    --descr-font-spacing: 0.5rem;
    --descr-font-style: normal;
    --descr-font-weight: var(--font-wgt-light);
    /*: sys footer :*/
    --sys-ft-bg-color: var(--bg-bas-050);
    --sys-ft-align: center;
    /*: sys menu :*/
    --mnu-bar-sm-bg: var(--transparent);
    --mnu-bar-sm-fg: var(--fg-blk);
    --mnu-bar-lg-bg: var(--bg-bas-050);
    --mnu-bar-lg-fg: var(--fg-bas-700);
    /*: sys content :*/
    --sys-content-bg-color: var(--bg-wht);
    --sys-content-fg-color: var(--fg-bas-900);
    --sys-content-tp-border-color: var(--fg-bas-300);
    --sys-content-bt-border-color: var(--fg-bas-300);
    /*: system :*/
    --sys-bg-color: var(--bg-bas-050);
    --sys-line-height: 1.4;
    --sys-font-family: var(--font-sans);
    --sys-font-color: var(--fg-blk);
    --sys-font-size: 1rem;
    --sys-font-weight: var(--font-wgt-light);
    --sys-font-spacing: normal;
    --sys-lnk-pri-color: var(--fg-pri-500);
    --sys-lnk-sec-color: var(--fg-sec-600);
    --sys-lnk-sec-bg-color: var(--transparent);
    --sys-lnk-weight: var(--font-wgt-regular);
    /*: plugin :*/
    --pag-breadcrumb-dsp: block;
    --pst-breadcrumb-dsp: none;
}
/*
    eof: media/screen.css
*/
