/*
 *  Xidipity WordPress Theme
 *
 *  file:   /assets/css/style/advance.css
 *  build:  90906.1b
 *  descrp: shared css
 *  ref:    https://github.com/WpThemeDev/xidipity
 *  cm:     the use of !important is intentional as the purpose of
 *          using these classes is to overwrite the current setting
 *          if one has been set. The exception to this rule is the
 *          DIY flexbox components.
 *
 *  @package WordPress
 *  @subpackage Xidipity
 *  @since 0.9.0
 *
**/

.tst {
    background-color: green;
}


/*: smartphone portrait :*/

@media (min-width: 640px) {
    .dv1\/tst {
        background-color: purple;
    }
}


/*: smartphone landscape :*/

@media (min-width: 768px) {
    .dv2\/tst {
        background-color: blue;
    }
}


/*: tablet :*/

@media (min-width: 1024px) {
    .dv3\/tst {
        background-color: black;
    }
}


/*: desktop :*/

@media (min-width: 1280px) {
    .dv4\/tst {
        background-color: red;
    }
}


/*
    border (rem)
*/

.bdr\:style-dashed {
    border-style: dashed !important;
}

.bdr\:style-none {
    border-style: none !important;
}

.bdr\:style-solid {
    border-style: solid !important;
}

.bdr\:radius-0\.25 {
    border-radius: 0.25rem !important;
}


/*: wordpress friendly :*/

.bdr-radius-025rm {
    border-radius: 0.25rem !important;
}


/*-*/

.bdr\:radius-0\.5 {
    border-radius: 0.5rem !important;
}


/*: wordpress friendly :*/

.bdr-radius-05rm {
    border-radius: 0.5rem !important;
}


/*-*/

.bdr\:radius-0\.75 {
    border-radius: 0.75rem !important;
}


/*: border @ 0 :*/

.bdr\:all-0px {
    border-width: 0 !important;
}

.bdr\:top-0 {
    border-top-width: 0 !important;
}

.bdr\:right-0 {
    border-left-width: 0 !important;
}

.bdr\:bottom-0 {
    border-bottom-width: 0 !important;
}

.bdr\:left-0 {
    border-left-width: 0 !important;
}


/*: border @ 1px :*/

.bdr\:all-0\.0625 {
    border-width: 0.0625rem !important;
}

.bdr\:top-0\.0625 {
    border-top-width: 0.0625rem !important;
}

.bdr\:right-0\.0625 {
    border-left-width: 0.0625rem !important;
}

.bdr\:bottom-0\.0625 {
    border-bottom-width: 0.0625rem !important;
}

.bdr\:left-0\.0625 {
    border-left-width: 0.0625rem !important;
}


/*: border @ 2px :*/

.bdr\:all-0\.125 {
    border-width: 0.125rem !important;
}

.bdr\:top-0\.125 {
    border-top-width: 0.125rem !important;
}

.bdr\:right-0\.125 {
    border-left-width: 0.125rem !important;
}

.bdr\:bottom-0\.125 {
    border-bottom-width: 0.125rem !important;
}

.bdr\:left-0\.125 {
    border-left-width: 0.125rem !important;
}


/*: border @ 3px :*/

.bdr\:all-0\.1875 {
    border-width: 0.1875rem !important;
}

.bdr\:top-0\.1875 {
    border-top-width: 0.1875rem !important;
}

.bdr\:right-0\.1875 {
    border-left-width: 0.1875rem !important;
}

.bdr\:bottom-0\.1875 {
    border-bottom-width: 0.1875rem !important;
}

.bdr\:left-0\.1875 {
    border-left-width: 0.1875rem !important;
}


/*
    font family
*/

.fnt\:family-sans {
    font-family: var(--font-sans);
}

.fnt\:family-serif {
    font-family: var(--font-serif);
}

.fnt\:family-mono {
    font-family: var(--font-mono);
}

.fnt\:family-condensed {
    font-family: var(--font-condensed);
}

.fnt\:family-cursive {
    font-family: var(--font-cursive);
}

.fnt\:family-fancy {
    font-family: var(--font-fancy);
}


/*
    font size (rem)
*/

.fnt\:size-larger {
    font-size: 112.5% !important;
}

.fnt\:size-lg {
    font-size: 1.125rem !important;
}

.fnt\:size-sm {
    font-size: 0.875rem !important;
}

.fnt\:size-smaller {
    font-size: 87.5% !important;
}

.fnt\:size-std {
    font-size: 1rem !important;
}

.fnt\:size-xlg {
    font-size: 1.25rem !important;
}

.fnt\:size-xsm {
    font-size: 0.75rem !important;
}


/*: smartphone portrait :*/

@media (min-width: 640px) {
    .dv1\/fnt\:size-larger {
        font-size: 112.5% !important;
    }
    .dv1\/fnt\:size-lg {
        font-size: 1.125rem !important;
    }
    .dv1\/fnt\:size-sm {
        font-size: 0.875rem !important;
    }
    .dv1\/fnt\:size-smaller {
        font-size: 87.5% !important;
    }
    .dv1\/fnt\:size-std {
        font-size: 1rem !important;
    }
    .dv1\/fnt\:size-xlg {
        font-size: 1.25rem !important;
    }
    .dv1\/fnt\:size-xsm {
        font-size: 0.75rem !important;
    }
}


/*: smartphone landscape :*/

@media (min-width: 768px) {
    .dv2\/fnt\:size-larger {
        font-size: 112.5% !important;
    }
    .dv2\/fnt\:size-lg {
        font-size: 1.125rem !important;
    }
    .dv2\/fnt\:size-sm {
        font-size: 0.875rem !important;
    }
    .dv2\/fnt\:size-smaller {
        font-size: 87.5% !important;
    }
    .dv2\/fnt\:size-std {
        font-size: 1rem !important;
    }
    .dv2\/fnt\:size-xlg {
        font-size: 1.25rem !important;
    }
    .dv2\/fnt\:size-xsm {
        font-size: 0.75rem !important;
    }
}


/*: tablet :*/

@media (min-width: 1024px) {
    .dv3\/fnt\:size-larger {
        font-size: 112.5% !important;
    }
    .dv3\/fnt\:size-lg {
        font-size: 1.125rem !important;
    }
    .dv3\/fnt\:size-sm {
        font-size: 0.875rem !important;
    }
    .dv3\/fnt\:size-smaller {
        font-size: 87.5% !important;
    }
    .dv3\/fnt\:size-std {
        font-size: 1rem !important;
    }
    .dv3\/fnt\:size-xlg {
        font-size: 1.25rem !important;
    }
    .dv3\/fnt\:size-xsm {
        font-size: 0.75rem !important;
    }
}


/*: desktop :*/

@media (min-width: 1280px) {
    .dv4\/fnt\:size-larger {
        font-size: 112.5% !important;
    }
    .dv4\/fnt\:size-lg {
        font-size: 1.125rem !important;
    }
    .dv4\/fnt\:size-sm {
        font-size: 0.875rem !important;
    }
    .dv4\/fnt\:size-smaller {
        font-size: 87.5% !important;
    }
    .dv4\/.fnt\:size-std {
        font-size: 1rem !important;
    }
    .dv4\/.fnt\:size-xlg {
        font-size: 1.25rem !important;
    }
    .dv4\/.fnt\:size-xsm {
        font-size: 0.75rem !important;
    }
}


/*
    font style
*/

.fnt\:style-italic {
    font-style: italic;
}

.fnt\:style-normal {
    font-style: normal;
}

.fnt\:style-oblique {
    font-style: oblique;
}


/*
    font weight
*/

.fnt\:weight-100 {
    font-weight: 100 !important;
}

.fnt\:weight-200 {
    font-weight: 200 !important;
}

.fnt\:weight-300 {
    font-weight: 300 !important;
}

.fnt\:weight-400 {
    font-weight: 400 !important;
}

.fnt\:weight-500 {
    font-weight: 500 !important;
}

.fnt\:weight-600 {
    font-weight: 600 !important;
}

.fnt\:weight-700 {
    font-weight: 700 !important;
}

.fnt\:weight-800 {
    font-weight: 800 !important;
}

.fnt\:weight-900 {
    font-weight: 900 !important;
}

.fnt\:weight-bolder {
    font-weight: bolder !important;
}

.fnt\:weight-lighter {
    font-weight: lighter !important;
}


/*
    padding (rem)
*/

.pad\:all-0 {
    padding: 0 !important;
}

.pad\:all-0\.125 {
    padding: 0.125rem !important;
}

.pad\:all-0\.25 {
    padding: 0.25rem !important;
}

.pad\:all-0\.375 {
    padding: 0.375rem !important;
}

.pad\:all-0\.5 {
    padding: 0.5rem !important;
}

.pad\:all-0\.625 {
    padding: 0.625rem !important;
}

.pad\:all-0\.75 {
    padding: 0.75rem !important;
}

.pad\:all-0\.8125 {
    padding: 0.8125rem !important;
}

.pad\:all-0\.875 {
    padding: 0.875rem !important;
}

.pad\:all-0\.9375 {
    padding: 0.9375rem !important;
}

.pad\:all-1 {
    padding: 1rem !important;
}

.pad\:all-1\.25 {
    padding: 1.25rem !important;
}

.pad\:all-1\.5 {
    padding: 1.5rem !important;
}

.pad\:all-1\.75 {
    padding: 1.75rem !important;
}

.pad\:all-2 {
    padding: 2rem !important;
}

.pad\:horz-0\.25 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.pad\:horz-0\.5 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.pad\:horz-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.pad\:left-0\.5 {
    padding-left: 0.5rem !important;
}

.pad\:left-0\.75 {
    padding-left: 0.75rem !important;
}

.pad\:left-1 {
    padding-left: 1rem !important;
}

.pad\:right-0\.5 {
    padding-right: 0.5rem !important;
}

.pad\:right-0\.75 {
    padding-right: 0.75rem !important;
}

.pad\:right-1 {
    padding-right: 1rem !important;
}

.pad\:top-0\.3125 {
    padding-top: 0.3125rem !important;
}

.pad\:top-0\.5 {
    padding-top: 0.5rem !important;
}

.pad\:vert-0\.75 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}


/*: smartphone portrait :*/

@media (min-width: 640px) {
    .dv1\/pad\:all-0\.125 {
        padding: 0.125rem !important;
    }
    .dv1\/pad\:all-0\.25 {
        padding: 0.25rem !important;
    }
    .dv1\/pad\:all-0\.375 {
        padding: 0.375rem !important;
    }
    .dv1\/pad\:all-0\.5 {
        padding: 0.5rem !important;
    }
    .dv1\/pad\:all-0\.625 {
        padding: 0.625rem !important;
    }
    .dv1\/pad\:all-0\.75 {
        padding: 0.75rem !important;
    }
    .dv1\/pad\:all-0\.8125 {
        padding: 0.8125rem !important;
    }
    .dv1\/pad\:all-0\.875 {
        padding: 0.875rem !important;
    }
    .dv1\/pad\:all-0\.9375 {
        padding: 0.9375rem !important;
    }
    .dv1\/pad\:all-1 {
        padding: 1rem !important;
    }
    .dv1\/pad\:all-1\.25 {
        padding: 1.25rem !important;
    }
    .dv1\/pad\:all-1\.5 {
        padding: 1.5rem !important;
    }
    .dv1\/pad\:all-1\.75 {
        padding: 1.75rem !important;
    }
    .dv1\/pad\:all-2 {
        padding: 2rem !important;
    }
    .dv1\/pad\:horz-0\.25 {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
    .dv1\/pad\:horz-0\.5 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .dv1\/pad\:horz-1 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .dv1\/pad\:left-0\.5 {
        padding-left: 0.5rem !important;
    }
    .dv1\/pad\:left-0\.75 {
        padding-left: 0.75rem !important;
    }
    .dv1\/pad\:left-1 {
        padding-left: 1rem !important;
    }
    .dv1\/pad\:right-0\.5 {
        padding-right: 0.5rem !important;
    }
    .dv1\/pad\:right-0\.75 {
        padding-right: 0.75rem !important;
    }
    .dv1\/pad\:right-1 {
        padding-right: 1rem !important;
    }
    .dv1\/pad\:top-0\.3125 {
        padding-top: 0.3125rem !important;
    }
    .dv1\/pad\:top-0\.5 {
        padding-top: 0.5rem !important;
    }
    .dv1\/pad\:vert-0\.75 {
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
}


/*: smartphone landscape :*/

@media (min-width: 768px) {
    .dv2\/pad\:all-0\.125 {
        padding: 0.125rem !important;
    }
    .dv2\/pad\:all-0\.25 {
        padding: 0.25rem !important;
    }
    .dv2\/pad\:all-0\.375 {
        padding: 0.375rem !important;
    }
    .dv2\/pad\:all-0\.5 {
        padding: 0.5rem !important;
    }
    .dv2\/pad\:all-0\.625 {
        padding: 0.625rem !important;
    }
    .dv2\/pad\:all-0\.75 {
        padding: 0.75rem !important;
    }
    .dv2\/pad\:all-0\.8125 {
        padding: 0.8125rem !important;
    }
    .dv2\/pad\:all-0\.875 {
        padding: 0.875rem !important;
    }
    .dv2\/pad\:all-0\.9375 {
        padding: 0.9375rem !important;
    }
    .dv2\/pad\:all-1 {
        padding: 1rem !important;
    }
    .dv2\/pad\:all-1\.25 {
        padding: 1.25rem !important;
    }
    .dv2\/pad\:all-1\.5 {
        padding: 1.5rem !important;
    }
    .dv2\/pad\:all-1\.75 {
        padding: 1.75rem !important;
    }
    .dv2\/pad\:all-2 {
        padding: 2rem !important;
    }
    .dv2\/pad\:horz-0\.25 {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
    .dv2\/pad\:horz-0\.5 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .dv2\/pad\:horz-1 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .dv2\/pad\:left-0\.5 {
        padding-left: 0.5rem !important;
    }
    .dv2\/pad\:left-0\.75 {
        padding-left: 0.75rem !important;
    }
    .dv2\/pad\:left-1 {
        padding-left: 1rem !important;
    }
    .dv2\/pad\:right-0\.5 {
        padding-right: 0.5rem !important;
    }
    .dv2\/pad\:right-0\.75 {
        padding-right: 0.75rem !important;
    }
    .dv2\/pad\:right-1 {
        padding-right: 1rem !important;
    }
    .dv2\/pad\:top-0\.3125 {
        padding-top: 0.3125rem !important;
    }
    .dv2\/pad\:top-0\.5 {
        padding-top: 0.5rem !important;
    }
    .dv2\/pad\:vert-0\.75 {
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
}


/*: tablet :*/

@media (min-width: 1024px) {
    .dv3\/pad\:all-0\.125 {
        padding: 0.125rem !important;
    }
    .dv3\/pad\:all-0\.25 {
        padding: 0.25rem !important;
    }
    .dv3\/pad\:all-0\.375 {
        padding: 0.375rem !important;
    }
    .dv3\/pad\:all-0\.5 {
        padding: 0.5rem !important;
    }
    .dv3\/pad\:all-0\.625 {
        padding: 0.625rem !important;
    }
    .dv3\/pad\:all-0\.75 {
        padding: 0.75rem !important;
    }
    .dv3\/pad\:all-0\.8125 {
        padding: 0.8125rem !important;
    }
    .dv3\/pad\:all-0\.875 {
        padding: 0.875rem !important;
    }
    .dv3\/pad\:all-0\.9375 {
        padding: 0.9375rem !important;
    }
    .dv3\/pad\:all-1 {
        padding: 1rem !important;
    }
    .dv3\/pad\:all-1\.25 {
        padding: 1.25rem !important;
    }
    .dv3\/pad\:all-1\.5 {
        padding: 1.5rem !important;
    }
    .dv3\/pad\:all-1\.75 {
        padding: 1.75rem !important;
    }
    .dv3\/pad\:all-2 {
        padding: 2rem !important;
    }
    .dv3\/pad\:horz-0\.25 {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
    .dv3\/pad\:horz-0\.5 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .dv3\/pad\:horz-1 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .dv3\/pad\:left-0\.5 {
        padding-left: 0.5rem !important;
    }
    .dv3\/pad\:left-0\.75 {
        padding-left: 0.75rem !important;
    }
    .dv3\/pad\:left-1 {
        padding-left: 1rem !important;
    }
    .dv3\/pad\:right-0\.5 {
        padding-right: 0.5rem !important;
    }
    .dv3\/pad\:right-0\.75 {
        padding-right: 0.75rem !important;
    }
    .dv3\/pad\:right-1 {
        padding-right: 1rem !important;
    }
    .dv3\/pad\:top-0\.3125 {
        padding-top: 0.3125rem !important;
    }
    .dv3\/pad\:top-0\.5 {
        padding-top: 0.5rem !important;
    }
    .dv3\/pad\:vert-0\.75 {
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
}


/*: desktop :*/

@media (min-width: 1280px) {
    .dv4\/pad\:all-0\.125 {
        padding: 0.125rem !important;
    }
    .dv4\/pad\:all-0\.25 {
        padding: 0.25rem !important;
    }
    .dv4\/pad\:all-0\.375 {
        padding: 0.375rem !important;
    }
    .dv4\/pad\:all-0\.5 {
        padding: 0.5rem !important;
    }
    .dv4\/pad\:all-0\.625 {
        padding: 0.625rem !important;
    }
    .dv4\/pad\:all-0\.75 {
        padding: 0.75rem !important;
    }
    .dv4\/pad\:all-0\.8125 {
        padding: 0.8125rem !important;
    }
    .dv4\/pad\:all-0\.875 {
        padding: 0.875rem !important;
    }
    .dv4\/pad\:all-0\.9375 {
        padding: 0.9375rem !important;
    }
    .dv4\/pad\:all-1 {
        padding: 1rem !important;
    }
    .dv4\/pad\:all-1\.25 {
        padding: 1.25rem !important;
    }
    .dv4\/pad\:all-1\.5 {
        padding: 1.5rem !important;
    }
    .dv4\/pad\:all-1\.75 {
        padding: 1.75rem !important;
    }
    .dv4\/pad\:all-2 {
        padding: 2rem !important;
    }
    .dv4\/pad\:horz-0\.25 {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
    .dv4\/pad\:horz-0\.5 {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .dv4\/pad\:horz-1 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .dv4\/pad\:left-0\.5 {
        padding-left: 0.5rem !important;
    }
    .dv4\/pad\:left-0\.75 {
        padding-left: 0.75rem !important;
    }
    .dv4\/pad\:left-1 {
        padding-left: 1rem !important;
    }
    .dv4\/pad\:right-0\.5 {
        padding-right: 0.5rem !important;
    }
    .dv4\/pad\:right-0\.75 {
        padding-right: 0.75rem !important;
    }
    .dv4\/pad\:right-1 {
        padding-right: 1rem !important;
    }
    .dv4\/pad\:top-0\.3125 {
        padding-top: 0.3125rem !important;
    }
    .dv4\/pad\:top-0\.5 {
        padding-top: 0.5rem !important;
    }
    .dv4\/pad\:vert-0\.75 {
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
}


/*
    margins (rem)
*/

.mar\:all-0 {
    margin: 0 !important;
}

.mar\:all-0\.125 {
    margin: 0.125rem !important;
}

.mar\:all-0\.25 {
    margin: 0.25rem !important;
}

.mar\:all-0\.375 {
    margin: 0.375rem !important;
}

.mar\:all-0\.5 {
    margin: 0.5rem !important;
}

.mar\:all-0\.625 {
    margin: 0.625rem !important;
}

.mar\:all-0\.75 {
    margin: 0.75rem !important;
}

.mar\:all-0\.8125 {
    margin: 0.8125rem !important;
}

.mar\:all-0\.875 {
    margin: 0.875rem !important;
}

.mar\:all-0\.9375 {
    margin: 0.9375rem !important;
}

.mar\:all-1 {
    margin: 1rem !important;
}

.mar\:all-1\.25 {
    margin: 1.25rem !important;
}

.mar\:all-1\.5 {
    margin: 1.5rem !important;
}

.mar\:all-1\.75 {
    margin: 1.75rem !important;
}

.mar\:all-2 {
    margin: 2rem !important;
}

.mar\:bottom-0 {
    margin-bottom: 0 !important;
}

.mar\:bottom-0\.125 {
    margin-bottom: 0.125rem !important;
}

.mar\:bottom-0\.25 {
    margin-bottom: 0.25rem !important;
}

.mar\:bottom-0\.375 {
    margin-bottom: 0.375rem !important;
}

.mar\:bottom-0\.5 {
    margin-bottom: 0.5rem !important;
}

.mar\:bottom-0\.625 {
    margin-bottom: 0.625rem !important;
}

.mar\:bottom-0\.75 {
    margin: 0.75rem !important;
}

.mar\:bottom-0\.8125 {
    margin: 0.8125rem !important;
}

.mar\:bottom-0\.875 {
    margin: 0.875rem !important;
}

.mar\:bottom-0\.9375 {
    margin: 0.9375rem !important;
}

.mar\:bottom-1 {
    margin: 1rem !important;
}

.mar\:bottom-1\.25 {
    margin: 1.25rem !important;
}

.mar\:bottom-1\.5 {
    margin: 1.5rem !important;
}

.mar\:bottom-1\.75 {
    margin: 1.75rem !important;
}

.mar\:bottom-2 {
    margin: 2rem !important;
}

.mar\:left-0 {
    margin-left: 0 !important;
}

.mar\:left-0\.125 {
    margin-left: 0.125rem !important;
}

.mar\:left-0\.25 {
    margin-left: 0.25rem !important;
}

.mar\:left-0\.375 {
    margin-left: 0.375rem !important;
}

.mar\:left-0\.5 {
    margin-left: 0.5rem !important;
}

.mar\:left-0\.625 {
    margin-left: 0.625rem !important;
}

.mar\:left-0\.75 {
    margin: 0.75rem !important;
}

.mar\:left-0\.8125 {
    margin: 0.8125rem !important;
}

.mar\:left-0\.875 {
    margin: 0.875rem !important;
}

.mar\:left-0\.9375 {
    margin: 0.9375rem !important;
}

.mar\:left-1 {
    margin: 1rem !important;
}

.mar\:left-1\.25 {
    margin: 1.25rem !important;
}

.mar\:left-1\.5 {
    margin: 1.5rem !important;
}

.mar\:left-1\.75 {
    margin: 1.75rem !important;
}

.mar\:left-2 {
    margin: 2rem !important;
}

.mar\:right-0 {
    margin-right: 0 !important;
}

.mar\:right-0\.125 {
    margin-right: 0.125rem !important;
}

.mar\:right-0\.25 {
    margin-right: 0.25rem !important;
}

.mar\:right-0\.375 {
    margin-right: 0.375rem !important;
}

.mar\:right-0\.5 {
    margin-right: 0.5rem !important;
}

.mar\:right-0\.625 {
    margin-right: 0.625rem !important;
}

.mar\:right-0\.75 {
    margin: 0.75rem !important;
}

.mar\:right-0\.8125 {
    margin: 0.8125rem !important;
}

.mar\:right-0\.875 {
    margin: 0.875rem !important;
}

.mar\:right-0\.9375 {
    margin: 0.9375rem !important;
}

.mar\:right-1 {
    margin: 1rem !important;
}

.mar\:right-1\.25 {
    margin: 1.25rem !important;
}

.mar\:right-1\.5 {
    margin: 1.5rem !important;
}

.mar\:right-1\.75 {
    margin: 1.75rem !important;
}

.mar\:right-2 {
    margin: 2rem !important;
}

.mar\:top-0 {
    margin-top: 0 !important;
}

.mar\:top-0\.125 {
    margin-top: 0.125rem !important;
}

.mar\:top-0\.25 {
    margin-top: 0.25rem !important;
}

.mar\:top-0\.375 {
    margin-top: 0.375rem !important;
}

.mar\:top-0\.5 {
    margin-top: 0.5rem !important;
}

.mar\:top-0\.625 {
    margin-top: 0.625rem !important;
}

.mar\:top-0\.75 {
    margin: 0.75rem !important;
}

.mar\:top-0\.8125 {
    margin: 0.8125rem !important;
}

.mar\:top-0\.875 {
    margin: 0.875rem !important;
}

.mar\:top-0\.9375 {
    margin: 0.9375rem !important;
}

.mar\:top-1 {
    margin: 1rem !important;
}

.mar\:top-1\.25 {
    margin: 1.25rem !important;
}

.mar\:top-1\.5 {
    margin: 1.5rem !important;
}

.mar\:top-1\.75 {
    margin: 1.75rem !important;
}

.mar\:top-2 {
    margin: 2rem !important;
}

.mar\:horz-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mar\:horz-0\.125 {
    margin-left: 0.125rem !important;
    margin-right: 0.125rem !important;
}

.mar\:horz-0\.25 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.mar\:horz-0\.375 {
    margin-left: 0.375rem !important;
    margin-right: 0.375rem !important;
}

.mar\:horz-0\.625 {
    margin-left: 0.625rem !important;
    margin-right: 0.625rem !important;
}

.mar\:horz-0\.75 {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
}

.mar\:horz-0\.8125 {
    margin-left: 0.8125rem !important;
    margin-right: 0.8125rem !important;
}

.mar\:horz-0\.875 {
    margin-left: 0.875rem !important;
    margin-right: 0.875rem !important;
}

.mar\:horz-0\.9375 {
    margin-left: 0.9375rem !important;
    margin-right: 0.9375rem !important;
}

.mar\:horz-1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.mar\:horz-1\.25 {
    margin-left: 1.25rem !important;
    margin-right: 1.25rem !important;
}

.mar\:horz-1\.5 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.mar\:horz-1\.75 {
    margin-left: 1.75rem !important;
    margin-right: 1.75rem !important;
}

.mar\:horz-2 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.mar\:vert-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mar\:vert-0\.125 {
    margin-top: 0.125rem !important;
    margin-bottom: 0.125rem !important;
}

.mar\:vert-0\.25 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.mar\:vert-0\.375 {
    margin-top: 0.375rem !important;
    margin-bottom: 0.375rem !important;
}

.mar\:vert-0\.625 {
    margin-top: 0.625rem !important;
    margin-bottom: 0.625rem !important;
}

.mar\:vert-0\.75 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.mar\:vert-0\.8125 {
    margin-top: 0.8125rem !important;
    margin-bottom: 0.8125rem !important;
}

.mar\:vert-0\.875 {
    margin-top: 0.875rem !important;
    margin-bottom: 0.875rem !important;
}

.mar\:vert-0\.9375 {
    margin-top: 0.9375rem !important;
    margin-bottom: 0.9375rem !important;
}

.mar\:vert-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mar\:vert-1\.25 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

.mar\:vert-1\.5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.mar\:vert-1\.75 {
    margin-top: 1.75rem !important;
    margin-bottom: 1.75rem !important;
}

.mar\:vert-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}


/*
    text align
*/

.txt\:center {
    text-align: center !important;
}

.txt\:left {
    text-align: left !important;
}

.txt\:right {
    text-align: right !important;
}


/*
    height
*/

.ht\:auto {
    height: auto !important;
}


/*: 80px :*/

.ht\:min-y-5 {
    min-height: 5rem !important;
}


/*: 160px :*/

.ht\:min-y-10 {
    min-height: 10rem !important;
}


/*: 240px :*/

.ht\:min-y-15 {
    min-height: 15rem !important;
}


/*: 320px :*/

.ht\:min-y-20 {
    min-height: 20rem !important;
}


/*: 400px :*/

.ht\:min-y-25 {
    min-height: 25rem !important;
}


/*: 480px :*/

.ht\:min-y-30 {
    min-height: 30rem !important;
}


/*: 560px :*/

.ht\:min-y-35 {
    min-height: 35rem !important;
}


/*: 640px :*/

.ht\:min-y-40 {
    min-height: 40rem !important;
}


/*: 720px :*/

.ht\:min-y-45 {
    min-height: 45rem !important;
}


/*: 800px :*/

.ht\:min-y-50 {
    min-height: 50rem !important;
}


/*
    width
*/

.wd\:10\% {
    width: 10% !important;
}

.wd\:15\% {
    width: 15% !important;
}

.wd\:20\% {
    width: 20% !important;
}

.wd\:25\% {
    width: 25% !important;
}

.wd\:30\% {
    width: 30% !important;
}

.wd\:35\% {
    width: 35% !important;
}

.wd\:40\% {
    width: 40% !important;
}

.wd\:45\% {
    width: 45% !important;
}

.wd\:50\% {
    width: 50% !important;
}

.wd\:60\% {
    width: 60% !important;
}

.wd\:70\% {
    width: 70% !important;
}

.wd\:80\% {
    width: 80% !important;
}

.wd\:90\% {
    width: 90% !important;
}

.wd\:auto {
    width: auto !important;
}

.wd\:100\% {
    width: 100% !important;
}

.wd\:25px {
    width: 25px !important;
}

.wd\:50px {
    width: 50px !important;
}

.wd\:75px {
    width: 75px !important;
}

.wd\:100px {
    width: 100px !important;
}

.wd\:125px {
    width: 125px !important;
}

.wd\:150px {
    width: 150px !important;
}

.wd\:175px {
    width: 175px !important;
}

.wd\:200px {
    width: 200px !important;
}

.wd\:225px {
    width: 225px !important;
}

.wd\:250px {
    width: 250px !important;
}

.wd\:275px {
    width: 275px !important;
}

.wd\:300px {
    width: 300px !important;
}


/*: smartphone portrait :*/

@media (min-width: 640px) {
    .dv1\/wd\:10\% {
        width: 10% !important;
    }
    .dv1\/wd\:15\% {
        width: 15% !important;
    }
    .dv1\/wd\:20\% {
        width: 20% !important;
    }
    .dv1\/wd\:25\% {
        width: 25% !important;
    }
    .dv1\/wd\:30\% {
        width: 30% !important;
    }
    .dv1\/wd\:35\% {
        width: 35% !important;
    }
    .dv1\/wd\:40\% {
        width: 40% !important;
    }
    .dv1\/wd\:45\% {
        width: 45% !important;
    }
    .dv1\/wd\:50\% {
        width: 50% !important;
    }
    .dv1\/wd\:60\% {
        width: 60% !important;
    }
    .dv1\/wd\:70\% {
        width: 70% !important;
    }
    .dv1\/wd\:80\% {
        width: 80% !important;
    }
    .dv1\/wd\:90\% {
        width: 90% !important;
    }
    .dv1\/wd\:auto {
        width: auto !important;
    }
    .dv1\/wd\:100\% {
        width: 100% !important;
    }
    .dv1\/wd\:25px {
        width: 25px !important;
    }
    .dv1\/wd\:50px {
        width: 50px !important;
    }
    .dv1\/wd\:75px {
        width: 75px !important;
    }
    .dv1\/wd\:100px {
        width: 100px !important;
    }
    .dv1\/wd\:125px {
        width: 125px !important;
    }
    .dv1\/wd\:150px {
        width: 150px !important;
    }
    .dv1\/wd\:175px {
        width: 175px !important;
    }
    .dv1\/wd\:200px {
        width: 200px !important;
    }
    .dv1\/wd\:225px {
        width: 225px !important;
    }
    .dv1\/wd\:250px {
        width: 250px !important;
    }
    .dv1\/wd\:275px {
        width: 275px !important;
    }
    .dv1\/wd\:300px {
        width: 300px !important;
    }
}


/*: smartphone landscape :*/

@media (min-width: 768px) {
    .dv2\/wd\:10\% {
        width: 10% !important;
    }
    .dv2\/wd\:15\% {
        width: 15% !important;
    }
    .dv2\/wd\:20\% {
        width: 20% !important;
    }
    .dv2\/wd\:25\% {
        width: 25% !important;
    }
    .dv2\/wd\:30\% {
        width: 30% !important;
    }
    .dv2\/wd\:35\% {
        width: 35% !important;
    }
    .dv2\/wd\:40\% {
        width: 40% !important;
    }
    .dv2\/wd\:45\% {
        width: 45% !important;
    }
    .dv2\/wd\:50\% {
        width: 50% !important;
    }
    .dv2\/wd\:60\% {
        width: 60% !important;
    }
    .dv2\/wd\:70\% {
        width: 70% !important;
    }
    .dv2\/wd\:80\% {
        width: 80% !important;
    }
    .dv2\/wd\:90\% {
        width: 90% !important;
    }
    .dv2\/wd\:auto {
        width: auto !important;
    }
    .dv2\/wd\:100\% {
        width: 100% !important;
    }
    .dv2\/wd\:25px {
        width: 25px !important;
    }
    .dv2\/wd\:50px {
        width: 50px !important;
    }
    .dv2\/wd\:75px {
        width: 75px !important;
    }
    .dv2\/wd\:100px {
        width: 100px !important;
    }
    .dv2\/wd\:125px {
        width: 125px !important;
    }
    .dv2\/wd\:150px {
        width: 150px !important;
    }
    .dv2\/wd\:175px {
        width: 175px !important;
    }
    .dv2\/wd\:200px {
        width: 200px !important;
    }
    .dv2\/wd\:225px {
        width: 225px !important;
    }
    .dv2\/wd\:250px {
        width: 250px !important;
    }
    .dv2\/wd\:275px {
        width: 275px !important;
    }
    .dv2\/wd\:300px {
        width: 300px !important;
    }
}


/*: tablet :*/

@media (min-width: 1024px) {
    .dv3\/wd\:10\% {
        width: 10% !important;
    }
    .dv3\/wd\:15\% {
        width: 15% !important;
    }
    .dv3\/wd\:20\% {
        width: 20% !important;
    }
    .dv3\/wd\:25\% {
        width: 25% !important;
    }
    .dv3\/wd\:30\% {
        width: 30% !important;
    }
    .dv3\/wd\:35\% {
        width: 35% !important;
    }
    .dv3\/wd\:40\% {
        width: 40% !important;
    }
    .dv3\/wd\:45\% {
        width: 45% !important;
    }
    .dv3\/wd\:50\% {
        width: 50% !important;
    }
    .dv3\/wd\:60\% {
        width: 60% !important;
    }
    .dv3\/wd\:70\% {
        width: 70% !important;
    }
    .dv3\/wd\:80\% {
        width: 80% !important;
    }
    .dv3\/wd\:90\% {
        width: 90% !important;
    }
    .dv3\/wd\:auto {
        width: auto !important;
    }
    .dv3\/wd\:100\% {
        width: 100% !important;
    }
    .dv3\/wd\:25px {
        width: 25px !important;
    }
    .dv3\/wd\:50px {
        width: 50px !important;
    }
    .dv3\/wd\:75px {
        width: 75px !important;
    }
    .dv3\/wd\:100px {
        width: 100px !important;
    }
    .dv3\/wd\:125px {
        width: 125px !important;
    }
    .dv3\/wd\:150px {
        width: 150px !important;
    }
    .dv3\/wd\:175px {
        width: 175px !important;
    }
    .dv3\/wd\:200px {
        width: 200px !important;
    }
    .dv3\/wd\:225px {
        width: 225px !important;
    }
    .dv3\/wd\:250px {
        width: 250px !important;
    }
    .dv3\/wd\:275px {
        width: 275px !important;
    }
    .dv3\/wd\:300px {
        width: 300px !important;
    }
}


/*: desktop :*/

@media (min-width: 1280px) {
    .dv4\/wd\:10\% {
        width: 10% !important;
    }
    .dv4\/wd\:15\% {
        width: 15% !important;
    }
    .dv4\/wd\:20\% {
        width: 20% !important;
    }
    .dv4\/wd\:25\% {
        width: 25% !important;
    }
    .dv4\/wd\:30\% {
        width: 30% !important;
    }
    .dv4\/wd\:35\% {
        width: 35% !important;
    }
    .dv4\/wd\:40\% {
        width: 40% !important;
    }
    .dv4\/wd\:45\% {
        width: 45% !important;
    }
    .dv4\/wd\:50\% {
        width: 50% !important;
    }
    .dv4\/wd\:60\% {
        width: 60% !important;
    }
    .dv4\/wd\:70\% {
        width: 70% !important;
    }
    .dv4\/wd\:80\% {
        width: 80% !important;
    }
    .dv4\/wd\:90\% {
        width: 90% !important;
    }
    .dv4\/wd\:auto {
        width: auto !important;
    }
    .dv4\/wd\:100\% {
        width: 100% !important;
    }
    .dv4\/wd\:25px {
        width: 25px !important;
    }
    .dv4\/wd\:50px {
        width: 50px !important;
    }
    .dv4\/wd\:75px {
        width: 75px !important;
    }
    .dv4\/wd\:100px {
        width: 100px !important;
    }
    .dv4\/wd\:125px {
        width: 125px !important;
    }
    .dv4\/wd\:150px {
        width: 150px !important;
    }
    .dv4\/wd\:175px {
        width: 175px !important;
    }
    .dv4\/wd\:200px {
        width: 200px !important;
    }
    .dv4\/wd\:225px {
        width: 225px !important;
    }
    .dv4\/wd\:250px {
        width: 250px !important;
    }
    .dv4\/wd\:275px {
        width: 275px !important;
    }
    .dv4\/wd\:300px {
        width: 300px !important;
    }
}


/*
    list spacing
*/

ol.li\:qtr-spaced li:not(:last-child),
ul.li\:qtr-spaced li:not(:last-child) {
    margin-bottom: 4px !important;
}

ol.li\:dbl-spaced li:not(:last-child),
ul.li\:dbl-spaced li:not(:last-child) {
    margin-bottom: 8px !important;
}

ol.li\:tpl-spaced li:not(:last-child),
ul.li\:tpl-spaced li:not(:last-child) {
    margin-bottom: 12px !important;
}


/*
    horizonal align
*/

.horz\:align-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.horz\:align-left {
    margin-left: 0 !important;
    margin-right: auto !important;
}

.horz\:align-right {
    margin-left: auto !important;
    margin-right: 0 !important;
}


/*
    image
*/

.img\:25\% {
    height: auto !important;
    width: 25% !important;
}

.img\:50\% {
    height: auto !important;
    width: 50% !important;
}

.img\:75\% {
    height: auto !important;
    width: 75% !important;
}

.img\:100\% {
    height: auto !important;
    width: 100% !important;
}


/*: wordpress friendly :*/

.img-100pc {
    height: auto !important;
    width: 100% !important;
}


/*
    display
*/

.disp\:none {
    display: none;
}

.disp\:block {
    display: block;
}

.disp\:inline {
    display: inline;
}

.disp\:inline-block {
    display: inline-block;
}


/*  # DIY flexbox components
    # 90825.1b
    # classes to build flexbox
    # https://the-echoplex.net/flexyboxes/
        justify content
            0-flex-start
            1-flex-end
            2-space-between
            3-space-around
        
        align items
            0-flex-start
            1-flex-end
            2-center
            3-baseline
            4-stretch
        
        align content
            0-flex-start
            1-flex-end
            2-center
            3-space-between
            4-space-around
            5-stretch
**/


/*
    default media
*/


/*: display :*/

.fx\:col {
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (min-width:640px) {
    .dv1\/fx\:col {
        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-flex-wrap: wrap;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.fx\:row {
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width:640px) {
    .dv1\/fx\:row {
        -ms-flex-direction: row;
        -ms-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: wrap;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/*: turn off wrap :*/

.fx\:nowrap {
    -ms-flex-wrap: nowrap !important;
    -webkit-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

@media (min-width:640px) {
    .dv1\/fx\:nowrap {
        -ms-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}


/*: start / stretch / stretch :*/

.fx\:opt-045 {
    -ms-flex-align: stretch;
    -ms-flex-line-pack: stretch;
    -ms-flex-pack: start;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
    -webkit-justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
}

@media (min-width:640px) {
    .dv1\/fx\:opt-045 {
        -ms-flex-align: stretch;
        -ms-flex-line-pack: stretch;
        -ms-flex-pack: start;
        -webkit-align-content: stretch;
        -webkit-align-items: stretch;
        -webkit-justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        justify-content: flex-start;
    }
}


/*: between / stretch / stretch :*/

.fx\:opt-245 {
    -ms-flex-align: stretch;
    -ms-flex-line-pack: stretch;
    -ms-flex-pack: justify;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
    -webkit-justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
}

@media (min-width:640px) {
    .dv1\/fx\:opt-245 {
        -ms-flex-align: stretch;
        -ms-flex-line-pack: stretch;
        -ms-flex-pack: justify;
        -webkit-align-content: stretch;
        -webkit-align-items: stretch;
        -webkit-justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
        justify-content: space-between;
    }
}


/*: start / start / start :*/

.fx\:opt-000 {
    -ms-flex-align: start;
    -ms-flex-line-pack: start;
    -ms-flex-pack: start;
    -webkit-align-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

@media (min-width:640px) {
    .dv1\/fx\:opt-000 {
        -ms-flex-align: start;
        -ms-flex-line-pack: start;
        -ms-flex-pack: start;
        -webkit-align-content: flex-start;
        -webkit-align-items: flex-start;
        -webkit-justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
    }
}


/*: bet / start / stretch :*/

.fx\:opt-205 {
    -ms-flex-align: start;
    -ms-flex-line-pack: stretch;
    -ms-flex-pack: justify;
    -webkit-align-content: stretch;
    -webkit-align-items: flex-start;
    -webkit-justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-between;
}

@media (min-width:640px) {
    .dv1\/fx\:opt-205 {
        -ms-flex-align: start;
        -ms-flex-line-pack: stretch;
        -ms-flex-pack: justify;
        -webkit-align-content: stretch;
        -webkit-align-items: flex-start;
        -webkit-justify-content: space-between;
        align-content: stretch;
        align-items: flex-start;
        justify-content: space-between;
    }
}


/*
    eof: /assets/css/style/advance.css
*/
