/*
 *  Xidipity WordPress Theme
 *
 *  file:   /assets/css/style/editor.css
 *  build:  90927.1b
 *  descrp: mce css
 *  ref:    https://github.com/WpThemeDev/xidipity
 *
 *  @package WordPress
 *  @subpackage Xidipity
 *  @since 0.9.0
 *
**/


/*  # TinyMCE
   ## Body
 ----------------------------------------------------------------------------*/

body,
.mce-content-body {
    background-color: var(--bg-wht);
    color: var(--sys-font-color);
    font-family: var(--sys-font-family);
    font-size: var(--sys-font-size);
    font-weight: var(--sys-font-weight);
    line-height: var(--sys-line-height);
    margin: 9px 10px;
    max-width: 100%;
    -webkit-font-smoothing: antialiased !important;
}


/* required                ----------------------------------------------------
-- */

body.webkit strong,
body.webkit b {
    font-weight: bolder !important;
}

abbr,
acronym {
    font-weight: bolder !important;
}


/*  # TinyMCE
   ## Editor Only
 ----------------------------------------------------------------------------*/


/* hide mce specific item  ------------
-- */

.mce\:hidden {
    display: none;
}


/* page break symbol       ------------
-- */

.prt\(pg-break\:after-always\)::after {
    content: " ¶";
    color: var(--fg-pri-500);
}


/* blank line spacers      ------------
-- */

.spacer-triple,
.spacer-double,
.spacer-single,
.spacer-3\/4,
.spacer-1\/2 {
    background-color: var(--fg-sec-050);
}


/* misc                    ----------------------------------------------------
-- */


/*  # tmpl
    # 90905.1a
    # editor template classes
**/

.tmpl {
    width: 100%;
}

.tmpl-head {
    display: block;
    width: 100%;
}

.tmpl-foot {
    display: none;
}


/*  # excerpt
    # 90927.1b
    # optional post excerpt in table format
    # https://wordpress.org/support/article/excerpt/
**/

#excerpt {
    border: 1px dashed var(--fg-sec-400);
    margin: 0;
    padding: 0;
    width: 100%;
}

.excerpt\:txt {
    background-color: var(--bg-bas-050);
    border: 0;
    font-size: 0.875rem;
    padding: 10px 8px;
    width: 100%;
}

.excerpt\:tag {
    display: none;
}


/*  # twocol
    # 90910.1a
    # two column template
    # add middle divider in editor
**/

.twocol td:first-of-type {
    border-right: 1px dashed var(--bg-sec-400) !important;
}


/*  # cols
    # 90910.1a
    # multi column template
    # add border
**/

table.cols\:auto,
table.cols\:2,
table.cols\:3,
table.cols\:4 {
    width: 100%;
}

table.cols\:auto td,
table.cols\:2 td,
table.cols\:3 td,
table.cols\:4 td {
    border: 1px dashed var(--bg-bas-400);
    padding: 1rem;
    width: 100%;
}


/*
    vertical spacing
    tint for editing
*/

.vert\:spacer-1\/2 {
    background-color: var(--bg-sec-050);
}

.vert\:spacer-3\/4 {
    background-color: var(--bg-sec-050);
}

.vert\:spacer-single {
    background-color: var(--bg-sec-050);
}

.vert\:spacer-double {
    background-color: var(--bg-sec-050);
}

.vert\:spacer-triple {
    background-color: var(--bg-sec-050);
}


/*
    eof: /assets/css/style/editor.css
*/
