/*
 *  Xidipity WordPress Theme
 *
 *  file:   style/print.css
 *  build:  91001.1a
 *  descrp: blog print
 *  ref:    https://github.com/WpThemeDev/xidipity
 *
 *  @package WordPress
 *  @subpackage Xidipity
 *  @since 0.9.0
 *
**/


/*  # Print
   ## Global defaults
 ----------------------------------------------------------------------------*/

body {
    -webkit-print-color-adjust: exact;
    background: var(--bg-wht);
    color: var(--fg-blk);
    font-family: var(--sys-font-family);
    font-size: var(--sys-font-size);
    font-weight: var(--sys-font-weight);
    line-height: var(--sys-line-height);
}


/*
    page elements
*/

@page {
    /* auto is the initial value */
    size: auto;
    margin: 8%;
}


/*
    hidden elements
*/

#excerpt,
#nav,
#sidebar,
.comment-respond,
.comments-area,
.do-not-print {
    display: none;
}


/*: advance syntax :*/

.prt\(dsp\:none\) {
    display: none;
}

.prt\(dsp\:block\) {
    display: block;
}


/*
    Page break
*/

.fx\:cn-ct-itm {
    page-break-after: always;
}

.prt\(pg-break\:after-always\) {
    page-break-after: always;
}

table {
    page-break-inside: auto
}

tr {
    page-break-inside: avoid;
    page-break-after: auto
}


/*  # fx-misc
    # 90915.1a
    # flexbox misc styling
**/

.fx\:shadow {
    box-shadow: none;
}


/*
    Force multi columns
*/

table.cols\:auto,
table.cols\:2,
table.cols\:3,
table.cols\:4 {
    border: none !important;
    width: 100%;
}

.cols\:auto td,
.cols\:2 td {
    column-count: 2;
    column-gap: 2%;
    page-break-inside: avoid;
}

.cols\:3 td {
    column-count: 3;
    column-gap: 2%;
}

.cols\:4 td {
    column-count: 4;
    column-gap: 2%;
}


/*  # Print
   ## Print Specific Borders
      This solution displays a flux border inside the outer edge.
 ----------------------------------------------------------------------------*/

.prt\(border\),
.prt\(border-1\) {
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--fg-bas-500);
    -moz-box-shadow: inset 0px 0px 0px 1px var(--fg-bas-500);
    box-shadow: inset 0px 0px 0px 1px var(--fg-bas-500);
}

.prt\(border-2\) {
    -webkit-box-shadow: inset 0px 0px 0px 2px var(--fg-bas-500);
    -moz-box-shadow: inset 0px 0px 0px 2px var(--fg-bas-500);
    box-shadow: inset 0px 0px 0px 2px var(--fg-bas-500);
}

.prt\(border-3\) {
    -webkit-box-shadow: inset 0px 0px 0px 3px var(--fg-bas-500);
    -moz-box-shadow: inset 0px 0px 0px 3px var(--fg-bas-500);
    box-shadow: inset 0px 0px 0px 3px var(--fg-bas-500);
}

.prt\(border-4\) {
    -webkit-box-shadow: inset 0px 0px 0px 4px var(--fg-bas-500);
    -moz-box-shadow: inset 0px 0px 0px 4px var(--fg-bas-500);
    box-shadow: inset 0px 0px 0px 4px var(--fg-bas-500);
}


/*
    Print exception palette
*/

.prt\(fg-blk\) {
    color: var(--fg-blk) !important;
}

.prt\(fg-wht\) {
    color: var(--fg-wht) !important;
}

.prt\(bg-blk\) {
    background-color: var(--bg-blk) !important;
}

.prt\(bg-wht\) {
    background-color: var(--bg-wht) !important;
}

.prt\(fg-bas-900\) {
    color: var(--fg-bas-900) !important;
}

.prt\(fg-bas-800\) {
    color: var(--fg-bas-800) !important;
}

.prt\(fg-bas-700\) {
    color: var(--fg-bas-700) !important;
}

.prt\(fg-bas-600\) {
    color: var(--fg-bas-600) !important;
}

.prt\(fg-bas-500\) {
    color: var(--fg-bas-500) !important;
}

.prt\(fg-bas-400\) {
    color: var(--fg-bas-400) !important;
}

.prt\(fg-bas-300\) {
    color: var(--fg-bas-300) !important;
}

.prt\(fg-bas-200\) {
    color: var(--fg-bas-200) !important;
}

.prt\(fg-bas-100\) {
    color: var(--fg-bas-100) !important;
}

.prt\(fg-bas-050\) {
    color: var(--fg-bas-050) !important;
}

.prt\(bg-bas-900\) {
    background-color: var(--bg-bas-900) !important;
}

.prt\(bg-bas-800\) {
    background-color: var(--bg-bas-800) !important;
}

.prt\(bg-bas-700\) {
    background-color: var(--bg-bas-700) !important;
}

.prt\(bg-bas-600\) {
    background-color: var(--bg-bas-600) !important;
}

.prt\(bg-bas-500\) {
    background-color: var(--bg-bas-500) !important;
}

.prt\(bg-bas-400\) {
    background-color: var(--bg-bas-400) !important;
}

.prt\(bg-bas-300\) {
    background-color: var(--bg-bas-300) !important;
}

.prt\(bg-bas-200\) {
    background-color: var(--bg-bas-200) !important;
}

.prt\(bg-bas-100\) {
    background-color: var(--bg-bas-100) !important;
}

.prt\(bg-bas-050\) {
    background-color: var(--bg-bas-050) !important;
}


/*
    eof: style/print.css
*/
