/*
 *  Xidipity WordPress Theme
 *
 *  file:   style/web.css
 *  build:  91001.1a
 *  descrp: web css
 *  ref:    https://github.com/WpThemeDev/xidipity
 *
 *  @package WordPress
 *  @subpackage Xidipity
 *  @since 0.9.0
 *
**/

body {
    background-color: var(--sys-bg-color);
    color: var(--sys-font-color);
    font-family: var(--sys-font-family);
    font-size: var(--sys-font-size);
    font-weight: var(--sys-font-weight);
    line-height: var(--sys-line-height);
    /* needed for menu checkbox hack */
    -webkit-animation: bugfix infinite 1s;
}


/* needed for menu checkbox hack */

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto!important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1rem;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.site .skip-link {
    background-color: var(--bg-bas-100);
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
    color: #4527a0;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    left: -9999rem;
    outline: 0;
    padding: 15px 23px 14px;
    text-decoration: none;
    text-transform: none;
    top: -9999rem;
}

.logged-in .site .skip-link {
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

.site .skip-link:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: 999999;
}

.web\:dsp-none {
    display: none;
}

.web\:spacer-1\/2 {
    height: 12px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}

.web\:spacer-3\/4 {
    height: 24px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}

.web\:spacer {
    height: 36px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}

.web\:spacer-2x {
    height: 48px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}

.web\:spacer-3x {
    height: 96px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
}

#excerpt {
    display: none;
}

.adsbygoogle {
    background-color: transparent;
}

.spacer-1\/2,
.spacer-3\/4,
.spacer-double,
.spacer-single,
.spacer-triple {
    background-color: transparent;
}

com\:title {
    color: var(--fg-bas-700);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    margin: 0;
    padding: 0;
}

ol.comment-list li {
    margin-top: 14px;
}

ol.comment-list li::before {
    color: var(--fg-pri-600);
    content: "Comment: " counter(comment);
    font-size: var(--h5-size);
    font-family: var(--font-sans);
    font-weight: var(--h5-weight);
    counter-increment: comment;
    maring-left: 0;
    text-align: left;
    width: 6.25rem;
}

.comment-list {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}

.comment-list .children {
    list-style: none;
}

.comment-list>li>.children .comment-body,
.comment-list>li>.comment-body {
    border-top: 1px solid var(--fg-bas-400);
    margin: 15px 0 0;
    padding-top: 15px;
    position: relative;
}

.comment-list>li:first-child:not(.bypostauthor)>.comment-body {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.comment-list .bypostauthor>.comment-body {
    background: var(--bg-bas-100);
    border-bottom: 3px solid var(--fg-sec-500);
    padding: 15px;
}

.comment-list .comment-author .avatar {
    border: 1px solid var(--fg-bas-400);
    border-radius: 100%;
    display: block;
    margin: 0 0 15px;
    padding: 2px;
}

.comment-list .bypostauthor .comment-author .avatar {
    border: 1px solid var(--fg-bas-400);
}

.comment-list .comment-author .avatar {
    width: 68px;
    height: 68px;
}

.comment-list .children .comment-author .avatar {
    height: 50px;
    width: 50px;
}

.comment-list .comment-meta {
    font-size: 12px;
    font-size: .75rem;
    margin-bottom: 15px;
}

.comment-list .comment-content {
    margin-bottom: 15px;
    word-wrap: break-word;
}

.comment-list .reply {
    font-size: 12px;
    font-size: .75rem;
    text-transform: uppercase;
}

.comment-list .comment-author .fn {
    font-weight: 900;
}

.comment-list .comment-author .fn a,
.comment-list .comment-author .fn a:visited {
    color: var(--fg-bas-600);
}

.comment-list .comment-author .fn a:active,
.comment-list .comment-author .fn a:focus,
.comment-list .comment-author .fn a:hover {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}

.comment-list .says {
    display: none;
}

.comment-list .edit-link {
    margin-left: 15px;
}

.comment-list .comment-awaiting-moderation {
    color: var(--fg-pri-500);
    margin-top: 10px;
}

#respond {
    background-color: var(--sys-content-bg-color);
    background-color: transparent;
    padding: 15px;
}

.comment-list #respond {
    background: var(--bg-bas-100);
    margin: 15px 0;
    padding: 15px;
    position: relative;
}

#respond .comment-reply-title {
    color: var(--fg-bas-900);
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1;
    margin: 0 0 15px;
}

#respond .comment-notes,
#respond .form-allowed-tags,
#respond .form-allowed-tags code,
#respond .logged-in-as {
    font-size: .875rem;
}

#respond .comment-form label {
    display: block;
}

#respond .form-submit {
    margin-top: 14px;
}

#respond .required {
    color: var(--fg-pri-900);
}

#respond #cancel-comment-reply-link {
    color: var(--fg-pri-900);
    font-size: 12px;
    font-size: .75rem;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    right: 0;
}

.comment-subscription-form {
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.4;
    margin: 30px 0 0;
    padding: 0;
}

.comment-subscription-form+.comment-subscription-form {
    margin: 8px 0 0;
}

.akismet_comment_form_privacy_notice {
    font-size: .875rem;
    text-align: center;
}

.updated:not(.published) {
    display: none;
}

.youtube-embed {
    background-color: var(--bg-bas-800);
    border-radius: .25rem;
    padding-bottom: 56%;
    position: relative;
    width: 100%;
}


/*  # web template support classes
    # 90929.1a
    # matching classes may be found in editor.css
**/


/*: multicolumn template :*/

table.cols\:0,
table.cols\:2,
table.cols\:3,
table.cols\:4 {
    border: none !important;
    width: 100%;
}

.cols\:auto td,
.cols\:2 td,
.cols\:3 td,
.cols\:4 td {
    border-color: transparent;
    padding: 0;
    width: 100%;
}

@media (min-width:640px) {
    .cols\:auto td,
    .cols\:2 td {
        column-count: 2;
        column-gap: 2%;
    }
    .cols\:3 td {
        column-count: 3;
        column-gap: 2%;
    }
    .cols\:4 td {
        column-count: 4;
        column-gap: 2%;
    }
}

@media (min-width: 1440px) {
    .cols\:auto td {
        column-count: 3;
        column-gap: 2%;
    }
}

.youtube-embed iframe {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.facebook-embed {
    background-color: var(--bg-bas-800);
    border-radius: .25rem;
    height: auto;
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.facebook-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    height: 100%;
    width: 100%;
}

.embed-aligncenter,
.embed-alignleft,
.embed-alignright {
    border-bottom: solid transparent 10px;
    clear: both;
    height: auto;
    width: 100%;
}

@media (min-width:640px) {
    .embed-aligncenter {
        border-bottom: solid transparent 10px;
        clear: both;
        height: auto;
        width: 100%;
    }
    .embed-alignleft {
        border-right: solid transparent 10px;
        float: left;
        height: auto;
        width: 50%;
    }
    .embed-alignright {
        border-left: solid transparent 10px;
        float: right;
        height: auto;
        width: 50%;
    }
}

.embed-caption {
    color: var(--fg-bas-600);
    font-size: .75rem;
    margin-top: 8px;
    text-align: center;
}

@media (min-width:640px) {
    .embed-caption {
        font-size: .875rem;
    }
}

.wp-video {
    width: 100%!important;
    height: 100%!important;
}

.wp-video {
    max-width: 100%!important;
}

.comment-navigation {
    background-color: var(--sys-content-bg-color);
    border-top: 1px solid var(--sys-content-tl-border-color);
    border-left: 1px solid var(--sys-content-tl-border-color);
    border-bottom: 1px solid var(--sys-content-br-border-color);
    border-right: 1px solid var(--sys-content-br-border-color);
    display: table;
    width: 100%;
}

.comment-navigation {
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.comment-navigation.comment-navigation-above,
.comment-navigation.comment-navigation-below {
    margin: 15px 0 0;
    padding: 0;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
    display: inline-block;
    margin: 0 1px;
    padding: 0;
}

.comment-navigation .nav-next a,
.comment-navigation .nav-next a:visited,
.comment-navigation .nav-previous a:visited {
    color: var(--fg-bas-600);
    display: block;
    font-size: 13px;
    font-size: .8125rem;
    margin: 0 15px;
    padding: 0;
    text-transform: uppercase;
}

.comment-navigation .nav-next a:active,
.comment-navigation .nav-next a:focus,
.comment-navigation .nav-next a:hover,
.comment-navigation .nav-previous a:active,
.comment-navigation .nav-previous a:focus,
.comment-navigation .nav-previous a:hover {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}

.comment-navigation .nav-next .meta-nav,
.comment-navigation .nav-previous .meta-nav {
    display: none;
}

.comment-navigation .nav-previous a::before {
    color: var(--fg-pri-500);
    content: "⊲";
    margin: 0 5px 0 0;
}

.comment-navigation .nav-next a::after {
    color: var(--fg-pri-500);
    content: "⊳";
    margin: 0 0 0 5px;
}

.site-title {
    color: var(--title-lnk-pri-color);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-style: var(--title-font-style);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--title-font-spacing);
}

.site-title a,
.site-title a:visited {
    color: var(--title-lnk-pri-color);
}

.site-title a:hover {
    color: var(--title-lnk-sec-color);
}

.site-description {
    color: var(--descr-font-color);
    font-family: var(--descr-font-family);
    font-size: var(--descr-font-size);
    font-style: var(--descr-font-style);
    font-weight: var(--descr-font-weight);
    letter-spacing: var(--descr-font-spacing);
}

.site-title {
    padding: 0 10px 0 10px;
}

.site-description {
    padding: 0 10px 0 10px;
}

.toc-menu {
    background-color: var(--sys-hdr-bg-color);
    background-color: var(--mnu-bg-color);
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    padding: .3125em 2em .3125em 2rem;
    text-align: var(--sys-hdr-align);
    text-align: center;
}

@media (min-width:640px) {
    .toc-menu {
        padding: .3125em 2em .3125em 2rem;
        text-align: var(--sys-hdr-align);
        text-align: center;
    }
}

.toc-menu a,
.toc-menu a:visited {
    color: var(--fg-blk);
}

.toc-menu a:active,
.toc-menu a:focus,
.toc-menu a:hover {
    color: var(--fg-wht);
}

.toc-btn {
    background-color: transparent;
    border-radius: .25rem;
    position: relative;
    display: inline-block;
    padding: 5px 8px 4px 8px;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    vertical-align: middle;
}

.toc-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-sec-500);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.toc-btn:active,
.toc-btn:focus,
.toc-btn:hover {
    color: var(--fg-wht);
}

.toc-btn:active:before,
.toc-btn:focus:before,
.toc-btn:hover:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.search-frm-container {
    margin: 0.5rem 0;
    width: 100%;
}

.search-frm {
    margin: 0;
    padding: 0;
    position: relative;
}

.search-frm .search-fld {
    border-radius: .25rem;
    border: 1px solid var(--sys-content-tl-border-color);
    height: 50px;
    padding: 0 10px;
    text-align: left;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
}

.search-frm .search-sub {
    background-color: var(--sys-content-bg-color);
    border-radius: .25rem;
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-size: 1.25rem;
    width: 60px;
    height: 50px;
    padding: 0;
    text-align: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    vertical-align: middle;
}

.search-frm .search-sub:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-sec-500);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.search-frm .search-sub:active,
.search-frm .search-sub:focus,
.search-frm .search-sub:hover {
    color: var(--fg-wht);
    box-shadow: none;
}

.search-frm .search-sub:active:before,
.search-frm .search-sub:focus:before,
.search-frm .search-sub:hover:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.gist .line,
.gist .line span {
    word-wrap: normal!important;
}

.gist table {
    margin-bottom: 0!important;
    table-layout: auto!important;
}

.gist .line-numbers {
    width: 4em!important;
}

.gist .line,
.gist .line-number {
    font-size: 12px!important;
    height: 18px!important;
    line-height: 18px!important;
}

.gist .line {
    white-space: pre!important;
    width: auto!important;
}

.seo-pag-breadcrumbs,
.seo-pst-breadcrumbs {
    font-size: .875rem;
    margin: -6px 0 10px 0;
}

.seo-pag-breadcrumbs {
    display: var(--pag-breadcrumb-dsp);
}

.seo-pst-breadcrumbs {
    display: var(--pst-breadcrumb-dsp);
}

.com\:msg {
    font-size: .875rem;
    padding: 10px;
    text-align: center;
    width: 100%;
}


/*
    page navigation
*/

.dots {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center;
    margin: 0;
    padding: 15px 20px;
}

a.page-numbers,
a.page-numbers:visited {
    color: var(--sys-font-color);
    text-decoration: none;
}

a.page-numbers:hover {
    color: var(--sys-lnk-sec-color);
    background-color: var(--bg-bas-100);
    -webkit-tap-highlight-color: transparent;
}

a.page-numbers:active,
a.page-numbers:focus {
    background-color: var(--bg-pri-100);
    border-radius: .25rem;
    color: var(--fg-blk);
}


/*  # author flexbox
    # 90828.1s
    # post summary by author
    # https://the-echoplex.net/flexyboxes/
**/

.fx\:author-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

@media (min-width:640px) {
    .fx\:author-container {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.fx\:author-item:nth-child(1) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

@media (min-width:640px) {
    .fx\:author-item:nth-child(1) {
        padding-right: 0.5rem;
    }
}

.fx\:author-item:nth-child(2) {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

@media (min-width:640px) {
    .fx\:author-item:nth-child(2) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.fx\:author-item:nth-child(3) {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

@media (min-width:640px) {
    .fx\:author-item:nth-child(3) {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding-left: 0.5rem;
    }
}


/*  # bio flexbox
    # 90828.1s
    # biography synopsis used by biography.php
    # https://the-echoplex.net/flexyboxes/
**/

.fx\:cn-ct-bio {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width:640px) {
    .fx\:cn-ct-bio {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.fx\:ct-bio-itm:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-er-center-itm-align: auto;
    align-self: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: .5rem;
}

@media (min-width:640px) {
    .fx\:ct-bio-itm:nth-child(1) {
        margin-bottom: 0;
        width: 12rem;
    }
}

.fx\:ct-bio-itm:nth-child(2) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-er-center-itm-align: auto;
    align-self: auto;
}


/*: support classes :*/


/*: content / container / navigation :*/

.fx\:cn-ct-nav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/*: container / navigation / item :*/

.fx\:ct-nav-itm {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center;
    margin: 0;
    padding: 15px 20px;
}


/*: content / container / meta :*/

.fx\:cn-ct-meta {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


/*: container / meta / item :*/

.fx\:ct-meta-itm {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-right: 10px;
}


/*  # special case core flexbox classes
    # 90828.1a
    # classes which support the following page templates
        # naked.php
        # no-sidebar.php
        # no-title.php
    # https://the-echoplex.net/flexyboxes/
**/


/*  # bexc-container
    # 90903.1a
    # supports blog excerpts shortcode
      all fx containers begin life as columns to support mobile
    # https://the-echoplex.net/flexyboxes/
**/


/*: blog excerpts container :*/

.fx\:bexc-cn-img-left,
.fx\:bexc-cn-img-none,
.fx\:bexc-cn-img-right {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@media (min-width:640px) {
    .fx\:bexc-cn-img-none {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .fx\:bexc-cn-img-left {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .fx\:bexc-cn-img-right {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}


/*: blog excerpts items :*/

.fx\:bexc-cn-img-item,
.fx\:bexc-cn-img-none-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

@media (min-width:640px) {
    .fx\:bexc-cn-img-none-item {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .fx\:bexc-cn-img-item:nth-child(1) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 40%;
        -ms-flex: 0 1 40%;
        flex: 0 1 40%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        max-width: 40%;
    }
    .fx\:bexc-cn-img-item:nth-child(2) {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-flex: 0 1 60%;
        -ms-flex: 0 1 60%;
        flex: 0 1 60%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        padding: 1rem;
        max-width: 60%;
    }
}


/*  # fx gimg
    # 90903.1a
    # supports gallery image shortcode
      all fx containers begin life as columns to support mobile
    # https://the-echoplex.net/flexyboxes/
**/

.fx\:gimg-cn-ct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@media (min-width:640px) {
    .fx\:gimg-cn-ct {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.fx\:gimg-ct-itm {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-top: 0.5rem;
}

.fx\:gimg-ct-itm:last-child {
    margin-bottom: 0.5rem;
}


/*: smartphone portrait :*/

@media (min-width: 640px) {
    .fx\:gimg-ct-itm {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 45%;
        -ms-flex: 0 1 45%;
        flex: 0 1 45%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        width: 45%;
        margin: 1rem;
    }
}


/*: desktop :*/

@media (min-width: 1280px) {
    .fx\:gimg-ct-itm {
        -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
        width: 30%;
    }
}


/*  # core flexbox classes
            # 90910.1a
            # classes which support core design elements
            # pg    = page
            # ct    = container
            # itm   = page container item
            # https://the-echoplex.net/flexyboxes/
        **/


/*: page container :*/

.fx\:pg-ct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


/*: (header) page container item :*/

.fx\:pg-ct-itm-sbl:nth-child(1),
.fx\:pg-ct-itm-sbr:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: var(--sys-hdr-bg-color);
}


/*: (menu) page container item :*/

.fx\:pg-ct-itm-sbl:nth-child(2),
.fx\:pg-ct-itm-sbr:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}


/*: (content) page container item :*/

.fx\:pg-ct-itm-sbl:nth-child(3),
.fx\:pg-ct-itm-sbr:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}


/*: (sidebar) page container item :*/

.fx\:pg-ct-itm-sbl:nth-child(4),
.fx\:pg-ct-itm-sbr:nth-child(4) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}


/*: (footer) page container item :*/

.fx\:pg-ct-itm-sbl:nth-child(5),
.fx\:pg-ct-itm-sbr:nth-child(5) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: var(--sys-ft-bg-color);
}


/*  # core flexbox classes
            # 90910.1a
            # classes which support core design elements
            # cn    = content
            # ct    = container
            # itm   = content container item
            # https://the-echoplex.net/flexyboxes/
        **/


/*: content container :*/

.fx\:cn-ct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 0.5rem;
}

.fx\:cn-ct-itm {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin-bottom: 0.75rem;
}


/*: default cn-itm-opt padding setting :*/

.fx\:cn-itm-opt {
    padding: 0;
}


/*: default cn-ct-itm padding setting :*/

.fx\:cn-ct-opt {
    background-color: var(--sys-content-bg-color);
    padding-left: 0;
    padding-right: 0;
}


/*: default cn-ct-itm image setting :*/

.cn-ct-img {
    height: auto;
    width: 100%;
}

.fx\:cn-ct-itm img {
    height: auto !important;
    width: 100% !important;
}


/*  # core flexbox classes
            # 90915.1a
            # classes which support core design elements
            # sb    = sidebar
            # ct    = container
            # itm   = sidebar container item
            # https://the-echoplex.net/flexyboxes/
        **/


/*: sidebar container :*/

.fx\:sb-ct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.5rem;
}

.fx\:sb-ct-itm {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin-bottom: 1rem;
}

.fx\:sb-ct-opt {
    width: 100%;
}

.fx\:sb-itm-opt {
    background-color: var(--sys-content-bg-color);
    max-width: 100% !important;
    padding: 1rem;
}

.fx\:sb-ct-itm img {
    height: auto;
    width: 100%;
}

.fx\:basis-100\% {
    flex-basis: 100% !important;
}

.fx\:basis-50\% {
    flex-basis: 100% !important;
}


/*  # sb-widget
    # 90915.1a
    # flexbox sidebar widgets
**/


/*: sidebar / widget / ad :*/

.fx\:sb-widget-ad {
    max-width: 99%;
    margin-left: 1%;
}


/*: sidebar / widget / title :*/

.fx\:sb-widget-ti {
    color: var(--fg-bas-600);
    font-family: var(--font-sans);
    font-size: 1.0625rem;
    font-weight: 400;
    letter-spacing: .05rem;
    margin: 0 0 4px;
}


/*  # fx-misc
    # 90915.1a
    # flexbox misc styling
**/

.fx\:shadow {
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .14);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .14);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .14);
}


/*  # switch from column to row
    # 90910.1a
    # screen width 768px or larger
    # https://developer.mozilla.org/en-US/docs/Web/CSS/@media
**/

@media (min-width: 640px) {
    .fx\:pg-ct {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .fx\:pg-ct-itm-sbl:nth-child(1),
    .fx\:pg-ct-itm-sbr:nth-child(1) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .fx\:pg-ct-itm-sbl:nth-child(2),
    .fx\:pg-ct-itm-sbr:nth-child(2) {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    /*
        no-sidebar requires flex set to 2 1 70%,
    */
    .fx\:pg-ct-itm-sbl:nth-child(3) {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        -webkit-flex: 2 1 70%;
        -ms-flex: 2 1 70%;
        flex: 2 1 70%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .fx\:pg-ct-itm-sbr:nth-child(3) {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex: 2 1 70%;
        -ms-flex: 2 1 70%;
        flex: 2 1 70%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .fx\:pg-ct-itm-sbl:nth-child(4) {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
    .fx\:pg-ct-itm-sbr:nth-child(4) {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
    .fx\:pg-ct-itm-sbr:nth-child(5),
    .fx\:pg-ct-itm-sbr:nth-child(5) {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .fx\:cn-ct {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    /*
        setting width to 0 is required for overflow to work (?)
    */
    .fx\:cn-ct-itm {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        width: 0;
    }
    .fx\:cn-itm-opt {
        padding: 1rem;
    }
    .fx\:basis-50\% {
        flex-basis: 49% !important;
    }
    .fx\:sb-ct {
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    .fx\:sb-ct-opt {
        margin-left: auto;
        margin-right: auto;
    }
    .fx\:sb-itm-opt {
        max-width: 100% !important;
        padding: 1rem;
    }
}

@media (min-width: 1440px) {
    .fx\:pg-ct-itm-sbr:nth-child(3) {
        -webkit-flex: 2 1 75%;
        -ms-flex: 2 1 75%;
        flex: 2 1 75%;
    }
    .fx\:pg-ct-itm-sbr:nth-child(4) {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
    }
    .fx\:basis-50\% {
        flex-basis: 32.67% !important;
    }
}


/*  # fx misc
    # 90915.1a
    # misc classes
**/


/*: general purpose content wrapper :*/

.fx\:cn-itm-wrapper {
    background-color: var(--sys-content-bg-color);
    border-bottom: 0.0625rem solid var(--sys-content-bt-border-color);
    border-top: 0.0625rem solid var(--sys-content-tp-border-color);
    margin: 0;
    padding: 0;
    width: 100%;
}


/*: force figure to 100% to keep from crashing container :*/

figure {
    height: auto !important;
    width: 100% !important;
}


/*: verify margins :*/


/*: content / item / header :*/

.fx\:cn-itm-hd {
    margin: 0 0 6px;
    padding: 0;
}


/*: content / item / title :*/

.fx\:cn-itm-ti {
    margin: 0;
    padding: 0;
}

.fx\:cn-itm-ti a,
.fx\:cn-itm-ti a:active,
.fx\:cn-itm-ti a:focus,
.fx\:cn-itm-ti a:visited {
    color: var(--h1-color);
}

.fx\:cn-itm-ti a:hover {
    color: var(--sys-lnk-sec-color);
    background-color: var(--sys-lnk-sec-bg-color);
}


/*  # nav
    # 90915.1a
    # flexbox menu navigation
    # https://codepen.io/joe-watkins/pen/Emzxf
**/


/*: menu bar width on mobile :*/

.fx\:mnu-70\%,
.fx\:mnu-75\%,
.fx\:mnu-80\%,
.fx\:mnu-85\%,
.fx\:mnu-90\%,
.fx\:mnu-95\%,
.fx\:mnu-100\% {
    width: 100%;
}

#nav {
    position: relative;
}


/*: display menu centered on mobile :*/

#nav ul {
    display: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

#nav ul li a {
    background-color: var(--mnu-bar-lg-bg);
    color: var(--mnu-bar-lg-fg);
    display: block;
    font-size: smaller;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

#nav ul li a:hover {
    filter: brightness(90%);
}

#nav ul li:last-of-type a {
    border-right: 0px;
}

#nav ul li ul li a {
    padding-left: 1.5rem;
}

#nav ul li ul li ul li a {
    padding-left: 3.125rem;
}

#nav input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#nav input.trigger:checked~ul,
#nav input.trigger:checked~ul li ul {
    display: block !important;
}

@media (min-width: 640px) {
    /*: menu bar width on desktop :*/
    .fx\:mnu-70\% {
        width: 70% !important;
    }
    .fx\:mnu-75\% {
        width: 75% !important;
    }
    .fx\:mnu-80\% {
        width: 80% !important;
    }
    .fx\:mnu-85\% {
        width: 85% !important;
    }
    .fx\:mnu-90\% {
        width: 90% !important;
    }
    .fx\:mnu-95\% {
        width: 95% !important;
    }
    #nav input.trigger:checked~ul,
    #nav input.trigger:checked~ul li ul {
        /* older flexbox */
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        /* newer flexbox */
        display: flex;
        flex-direction: row;
    }
}

#nav label {
    position: relative;
    display: block;
    padding: 0.25rem 0.5rem;
    margin: 0;
    cursor: pointer;
    background-color: var(--mnu-bar-sm-bg);
    color: var(--mnu-bar-sm-fg);
    text-align: center;
}

#nav input.trigger:checked~label {
    filter: brightness(80%);
}

@media (min-width: 640px) {
    #nav ul {
        /* older flexbox */
        display: -ms-flexbox;
        flex-direction: -ms-row;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        /* newer flexbox */
        display: flex;
        flex-direction: row;
    }
    #nav ul li {
        position: relative;
        text-align: center;
        /* older flexbox */
        -ms-flex: 1;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        /* newer flexbox */
        flex: 1;
    }
    #nav ul li ul {
        display: none !important;
        position: absolute;
        top: 3.0625rem;
        left: 0;
        display: block;
        width: 12.5rem;
        z-index: 200;
    }
    #nav ul li ul li {
        text-align: left;
    }
    #nav ul li ul li ul {
        z-index: 300;
        top: 0px;
        left: 12.5rem;
    }
    #nav ul li ul li ul li a {
        padding-left: 1.875rem !important;
    }
    #nav ul li:hover>ul {
        display: block !important;
    }
    #nav label {
        display: none;
    }
}


/*  # area
    # 90925.1a
    # flexbox area classes
    #
**/


/*: area center :*/

.fx\:area-ct-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/*: area left :*/

.fx\:area-ct-left {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/*: area right :*/

.fx\:area-ct-right {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/*: area item :*/

.fx\:area-itm-center,
.fx\:area-itm-left,
.fx\:area-itm-right {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.fx\:area-itm-center {
    padding: 0;
    text-align: center;
}

.fx\:area-itm-left {
    padding-left: 0.5rem;
    text-align: left;
}

.fx\:area-itm-right {
    padding-right: 0.5rem;
    text-align: right;
}


/*  # pal
    # 90903.1a
    # fx palette container
      all fx containers begin life as columns to support mobile
    # https://the-echoplex.net/flexyboxes/
**/

.fx\:pal-cn-ct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.fx\:pal-ct-itm {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 8px 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.fx\:pal-ct-itm:hover {
    border: 1px solid var(--fg-bas-400);
}

@media (min-width: 640px) {
    .fx\:pal-cn-ct {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .fx\:pal-ct-itm {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        margin: 8px;
        padding: 5% 0;
    }
}


/*
    eof: style/web.css
*/
